<div class="navbar">
    <div class="col-xs-5">
        <button back-Button class="btn btn-primary">Retour</button>
        <button ng-hide="!validable" ng-click="saveAnswer()" class="btn btn-primary">Valider</button>
        <button ng-click="tryModel(exercise.exercise_model)" class="btn btn-primary"
                title="Nouvelle tentative pour cet exercice">
            <span class="glyphicon glyphicon-repeat"></span>
        </button>
    </div>

    <div class="col-xs-7">
        <button ng-if="items.length > 1"
                ng-repeat="it in items track by $index"
                ng-click="gotoItem($index)" class="btn"
                data-ng-class="{'btn-primary': !it.corrected, 'btn-active': it.item_id == item.item_id}">
            {{ $index + 1 }}
        </button>
    </div>
</div>
