<div data-ng-controller="pairItemsController">

    <div class="row">

        <div class="col-xs-12 panel">
            <div class="panel-heading row" style="color: #888888">
                <div class="col-xs-5">
                    <div>
                        Partie fixe
                    </div>
                </div>
                <div class="col-xs-3">
                    <div>
                        Votre réponse
                    </div>
                </div>
                <div class="col-xs-3 solution">
                    <div ng-if="item.corrected">
                        Solution
                    </div>
                </div>
            </div>

            <div class="panel-body">
                <div class="row"
                     ng-repeat="fixPart in item.content.fix_parts track by $index">
                    <div class="col-xs-5" style="margin-bottom: 10px">
                        <div>
                            <div ng-if="fixPart.object_type == 'text'" class="etiquette txt-etiquette"
                                 title="Partie fixe de la paire à laquelle vous devez associer une partie mobile">
                                <div ng-bind-html="to_trusted(fixPart.text)"></div>
                            </div>
                            <div ng-if="fixPart.object_type == 'picture'"
                                 title="Partie fixe de la paire à laquelle vous devez associer une partie mobile. Cliquez pour agrandir.">
                                <a href="{{ imageUrl }}{{ fixPart.source }}"
                                   data-lightbox="imageFix" data-title="Partie fixe">
                                    <img ng-src="{{ imageUrl }}{{ fixPart.source }}"
                                         class="etiquette img-etiquette"/>
                                </a>
                            </div>
                        </div>
                    </div>

                    <!--drop zone-->
                    <div class="col-xs-3">
                        <!-- empty -->
                        <div ng-if="drop[$index] == null" ui-on-Drop="onDropField($event,$data,$index)"
                             title="Déposer une partie mobile ici">
                            <div class="etiquette etiquette-empty"
                                 data-ng-class="{'img-etiquette': item.content.mobile_parts[0].object_type == 'picture', 'txt-etiquette': item.content.mobile_parts[0].object_type == 'text'}">
                            </div>
                        </div>

                        <!--not empty-->
                        <div ng-if="drop[$index] != null" title="Votre proposition de réponse">
                            <!--not corrected-->
                            <div ng-if="!item.corrected"
                                 ui-draggable="true" drag="drop[$index]"
                                 on-drop-success="dropSuccessHandlerField($event,$index)">
                                <div ng-if="drop[$index].object_type == 'text'"
                                     class="etiquette txt-etiquette">
                                    <div ng-bind-html="to_trusted(drop[$index].text)"></div>
                                </div>
                                <div ng-if="drop[$index].object_type == 'picture'">
                                    <a href="{{ imageUrl }}{{ drop[$index].source }}"
                                       data-lightbox="imageMobile" data-title="Partie mobile">
                                        <img ng-src="{{ imageUrl }}{{ drop[$index].source }}"
                                             class="etiquette img-etiquette"/>
                                    </a>
                                </div>
                            </div>

                            <!--corrected-->
                            <div ng-if="item.corrected" title="Votre proposition de réponse">
                                <div ng-if="drop[$index].object_type == 'text'"
                                     class="etiquette txt-etiquette"
                                     data-ng-class="{'etiquette-wrong': !solution[$index].right, 'etiquette-right': solution[$index].right}">
                                    <div ng-bind-html="to_trusted(drop[$index].text)"></div>
                                </div>
                                <a href="{{ imageUrl }}{{ drop[$index].source }}"
                                   data-lightbox="imageMobile" data-title="Partie mobile">
                                    <img ng-if="drop[$index].object_type == 'picture'"
                                         ng-src="{{ imageUrl }}{{ drop[$index].source }}"
                                         class="etiquette img-etiquette"
                                         data-ng-class="{'etiquette-wrong': !solution[$index].right, 'etiquette-right': solution[$index].right}"/>
                                </a>
                            </div>
                        </div>
                    </div>

                    <!-- correction -->
                    <div class="col-xs-3">
                        <div ng-if="solution[$index] != null && !solution[$index].right"
                             title="La bonne réponse attendue">
                            <div ng-if="solution[$index].object_type == 'text'"
                                 class="etiquette txt-etiquette">
                                <div ng-bind-html="to_trusted(solution[$index].text)"></div>
                            </div>
                            <div ng-if="solution[$index].object_type == 'picture'">
                                <a href="{{ imageUrl }}{{ solution[$index].source }}"
                                   data-lightbox="imageCorrected" data-title="Correction">
                                    <img ng-src="{{ imageUrl }}{{ solution[$index].source }}"
                                         class="etiquette img-etiquette"/>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-3 fixPanel">
            <div class="panel object-list"
                 ng-if="!item.corrected"
                 ui-on-Drop="onDropList($event,$data,item.content.mobile_parts)"
                 title="Déposez ces objets dans les cases ci dessous afin de constituer les bonnes paires.">
                <div class="panel-heading">
                    Objets à glisser-déposer :
                </div>
                <div class="panel-body">
                    <div ng-if="item.content.mobile_parts.length == 0">
                        <div ng-if="drop[0].object_type == 'text'"
                             class="etiquette txt-etiquette etiquette-empty">
                        </div>
                        <div ng-if="drop[0].object_type == 'picture'"
                             class="etiquette img-etiquette etiquette-empty">
                        </div>
                    </div>
                    <div ng-if="!item.corrected" style="margin: 6px"
                         ng-repeat="mobilePart in item.content.mobile_parts track by $index"
                         ui-draggable="true" drag="mobilePart"
                         on-drop-success="dropSuccessHandler($event,$index,item.content.mobile_parts)"
                        >
                        <div ng-if="mobilePart.object_type == 'text'"
                             class="etiquette txt-etiquette">
                            <div ng-bind-html="to_trusted(mobilePart.text)"></div>
                        </div>
                        <div ng-if="mobilePart.object_type == 'picture'">
                            <a href="{{ imageUrl }}{{ mobilePart.source }}"
                               data-lightbox="imageMobile" data-title="Partie mobile">
                                <img ng-src="{{ imageUrl }}{{ mobilePart.source }}"
                                     class="etiquette img-etiquette"/>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div ng-hide="!item.corrected">
            <strong>Votre score :</strong> {{ item.content.mark | number:0 }}%
        </div>
    </div>

    <ng-include src="navBarUrl"></ng-include>

    <script>
        $(function () {
            var window_height = $(window).height(),
                content_height = window_height - 190; // 484

            $('.fixPanel').height(content_height);
        });

        $(window).resize(function () {
            var window_height = $(window).height(),
                content_height = window_height - 190;
            $('.fixPanel').height(content_height);
        });
    </script>

</div>
