<div data-ng-controller="multipleChoiceController">

    <div class="panel">
        <div class="panel-heading row">
            <div class="col-xs-6">
                <strong>{{ item.content.question }}</strong>
            </div>
            <div class="col-xs-6 solution" ng-if="item.corrected">
                <strong>Solution</strong>
            </div>
        </div>

        <div class="panel-body">
            <div class="row" ng-repeat="proposition in item.content.propositions track by $index">
                <div class="col-xs-6">
                    <div class="checkbox-exo checkbox-exo-question"
                         data-ng-class="{'good-answer': item.corrected && solution[$index] == tick[$index],'wrong-answer': item.corrected && solution[$index] != tick[$index]}">
                        <label data-ng-click="tickAction($index)">
                            <span class="glyphicon" ng-class="{'glyphicon-check': tick[$index], 'glyphicon-unchecked': !tick[$index]}"></span>
                            {{ proposition.text }}
                        </label>
                    </div>
                </div>

                <div class="col-xs-6" ng-if="item.corrected">
                    <div class="checkbox-exo solution"
                         ng-class="solution[$index] ? 'right-prop' : 'wrong-prop'">
                        <label>
                            <span class="glyphicon" ng-class="{'glyphicon-check': solution[$index], 'glyphicon-unchecked': !solution[$index]}"></span>
                            {{ proposition.text }}
                        </label>
                    </div>
                </div>

            </div>

            <div class="panel-body">
                <div ng-hide="!item.corrected || item.content.comment == null"
                     class="MCComment">
                    <strong>Commentaire :</strong> {{ item.content.comment }}
                </div>
            </div>

            <div class="panel-body">
                <div ng-hide="!item.corrected">
                    <strong>Votre score :</strong> {{ item.content.mark | number:0 }}%
                </div>
            </div>
        </div>
    </div>

    <ng-include src="navBarUrl"></ng-include>
</div>
