<h1>Liste des modèles d'exercices</h1>

<table>

    {% for exerciseModel in exerciseModels %}
        <tr>
            <td>{{ exerciseModel.title }}</td>
            <td>{{ exerciseModel.type }}</td>
            <td>
                <a href="{{ path('web_exercise_model_edit',
                {'exerciseModelId': exerciseModel.id }) }}">Voir/éditer le modèle</a>
            </td>
        </tr>
    {% endfor %}
</table>
