<h1>Navigateur de ressources</h1>

{{ render(controller('SimpleITClaireAppBundle:Exercise/Component/OwnerResource:createMultipleMetadataView')) }}
{{ render(controller('SimpleITClaireAppBundle:Exercise/Component/OwnerResource:searchList')) }}


