<div class="row" data-ng-controller="modelEditController">

    <div ng-class="{'col-xs-4': !$parent.toggleResourceList, 'col-xs-12': $parent.toggleResourceList}">

        <div class="panel panel-heading"><h3>Editer un modèle d'exercice</h3></div>

        <div class="panel-body">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-10">
                            <h4>
                                <label>Titre</label>
                                <input type="text" ng-model="model.title" class="form-control"/>
                            </h4>
                        </div>
                        <div class="col-xs-2">
                            <h4>
                                <label>Type</label>
                                <input type="text" ng-model="model.type" class="form-control" disabled>
                            </h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <label>Auteur</label>
                            <input type="text" ng-model="model.author" class="form-control" disabled>
                        </div>

                        <div class="col-xs-6">
                            <label>Propriétaire</label>
                            <input type="text" ng-model="model.owner" class="form-control" disabled>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-3">
                            <label>Partagé</label>
                            <input type="checkbox" ng-model="model.public" class="form-control"/>
                        </div>
                        <div class="col-xs-3">
                            <label>Archivé</label>
                            <input type="checkbox" ng-model="model.archived" class="form-control"/>
                        </div>
                        <div class="col-xs-3">
                            <label>Brouillon</label>
                            <input type="checkbox" ng-model="model.draft" class="form-control"/>
                        </div>
                        <div class="col-xs-3">
                            <label>Complet</label>
                            <input type="checkbox" ng-model="model.complete" class="form-control"/>
                        </div>
                    </div>
                </div>
            </div>

            <br/>

            <div ng-switch="model.type">

                <div ng-switch-when="pair-items">

                    <blockquote>
                        <h3 ng-click="context.pair_items.collapse = !context.pair_items.collapse"
                            class="panel-default">Appariement</h3>

                        <div collapse="context.pair_items.collapse">

                            <blockquote>
                                <h4 ng-click="context.pair_items.wording.collapse = !context.pair_items.wording.collapse"
                                    class="panel-default">Commun</h4>

                                <div collapse="context.pair_items.wording.collapse">

                                    <label>Intitulé</label>
                                    <input type="text" ng-model="model.content.wording" class="form-control"/>

                                </div>
                            </blockquote>

                            <blockquote data-ng-repeat="pair_blocks in model.content.pair_blocks track by $index">
                                <h4 ng-click="context.pair_items.pair_blocks.collapse = !context.pair_items.pair_blocks.collapse"
                                    class="panel-default">Block&nbsp;{{ $index }}&nbsp;&nbsp;
                                    <span data-ng-click="modelRemoveField(model.content.pair_blocks, $index)"
                                                                      class="glyphicon glyphicon-remove"></span>
                                </h4>

                                <div collapse="context.pair_items.pair_blocks.collapse">

                                    <label>Clé de métadonnée</label>
                                    <input type="text" ng-model="pair_blocks.pair_meta_key" class="form-control"/>

                                    <label>Nombre d'occurence</label>
                                    <input type="text"  ng-model="pair_blocks.number_of_occurrences" class="form-control"/>

                                    <h4 ng-click="context.pair_items.pair_blocks.resources.collapse = !context.pair_items.pair_blocks.resources.collapse"
                                        class="panel-default">
                                        Liste des resources
                                    </h4>
                                    <blockquote collapse="context.pair_items.pair_blocks.resources.collapse" ui-on-Drop="onDrop($event,$data,pair_blocks.resources)">
                                        <div data-ng-repeat="resource in pair_blocks.resources track by $index" class="row">
                                            <div class="col-xs-10">
                                                <input type="text" ng-model="resource.id" class="form-control" disabled/>
                                            </div>
                                            <div class="col-xs-1">
                                                <span ui-sref="model.edit.resource.display({ resourceid:resource.id })" class="glyphicon glyphicon-eye-open"></span>
                                            </div>
                                            <div class="col-xs-1">
                                                <span data-ng-click="modelRemoveField(pair_blocks.resources, $index)"
                                                class="glyphicon glyphicon-remove"></span>
                                            </div>
                                        </div>
                                    </blockquote>

                                </div>
                            </blockquote>

                            <blockquote>
                                <div>
                                    <span data-ng-click="modelAddBlockField(model.content.pair_blocks)"
                                        class="glyphicon glyphicon-plus"></span>
                                </div>
                            </blockquote>
                        </div>
                    </blockquote>

                </div>

            </div>


            <blockquote>
                <h3 ng-click="context.keywords.collapse = !context.keywords.collapse" class="panel-default">
                    Mots-clés</h3>

                <div collapse="context.keywords.collapse" class="panel panel-default">
                    <div class="panel-heading">
                        <div class="row">
                            <div ng-repeat="keyword in model.keywords track by $index">
                                <div class="col-xs-5">
                                    <input type="text" ng-model="keyword" class="form-control" disabled>
                                </div>
                                <div class="col-xs-1"><span data-ng-click="modelRemoveField(model.keywords, $index)"
                                                            class="glyphicon glyphicon-remove"></span></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-5"><input id="resourceAddKeyword" type="text" value=""
                                                         placeholder="nouveau mot-clé" class="form-control"></div>
                            <div class="col-xs-1"><span data-ng-click="modelAddKeywordsField(model.keywords)"
                                                        class="glyphicon glyphicon-plus"></span></div>
                        </div>
                    </div>
                </div>
            </blockquote>


            <blockquote>
                <h3 ng-click="context.metadata.collapse = !context.metadata.collapse" class="panel-default">
                    Méta-données</h3>

                <div collapse="context.metadata.collapse" class="panel panel-default">
                    <div class="panel-heading">
                        <table class="table">
                            <tr>
                                <th>Clé</th>
                                <th>Valeur</th>
                                <th>&nbsp;</th>
                            </tr>
                            <tr ng-repeat="meta in model.metadata track by $index">
                                <th><input type="text" ng-model="meta.key" class="form-control"></th>
                                <th><input type="text" ng-model="meta.value" class="form-control"></th>
                                <th><span data-ng-click="modelRemoveField(model.metadata, $index)"
                                          class="glyphicon glyphicon-remove"></span></th>
                            </tr>
                            <tr>
                                <th><span data-ng-click="modelAddMetadataField(model.metadata)"
                                          class="glyphicon glyphicon-plus"></span></th>
                            </tr>
                        </table>
                    </div>
                </div>
            </blockquote>

            <br/>

            <div>
                <button back-Button class="btn btn-primary">Retour</button>
                <button ng-click="updateModel()" class="btn btn-primary">Sauvegarder</button>
            </div>

            <br/>

        </div>
    </div>

    <div ng-class="{'col-xs-8': !$parent.toggleResourceList, 'hide': $parent.toggleResourceList}">
        <br/><br/><br/><br/><br/><br/>
        <div ui-view>
            <div data-ng-include="'/bundles/simpleitclaireexercise/webAuthor/partials/partial-resource-list.html'"></div>
        </div>
    </div>

</div>