<div class="container" data-ng-controller="resourceListController">

    <div class="table-responsive">
        <table class="table table-striped">

            <tr>
                <th>Type</th>
                <th>Titre</th>
                <th>Auteur</th>
                <th>Propriétaire</th>
                <th>Partagé</th>
                <th>Archivé</th>
                <th>Brouillon</th>
                <th>Complet</th>
                <th>&nbsp;</th>
                <th><span ng-click="createResource()" class="glyphicon glyphicon-plus"
                          style="font-size: 120%"></span></th>
                <th>&nbsp;</th>
            </tr>
            <tr ng-repeat="resource in resources" ui-draggable="true" drag="resource.id" on-drop-success="dropSuccessHandler($event,$index)">
                <td><kbd class="label-info">{{ resource.type }}</kbd><code><br>Méta-données:</code></td>
                <td>{{ resource.title }}<br><code>{{ resource.metadata[0].key }}:&nbsp;{{ resource.metadata[0].value }}</code></td>
                <td>{{ resource.author }}<br><code>{{ resource.metadata[1].key }}:&nbsp;{{ resource.metadata[1].value }}</code></td>
                <td>{{ resource.owner }}</td>
                <td><ng-switch on="resource.public"><span ng-switch-when="true">Oui</span><span ng-switch-when="false">Non</span></ng-switch></td>
                <td><ng-switch on="resource.archived"><span ng-switch-when="true">Oui</span><span ng-switch-when="false">Non</span></ng-switch></td>
                <td><ng-switch on="resource.draft"><span ng-switch-when="true">Oui</span><span ng-switch-when="false">Non</span></ng-switch></td>
                <td><ng-switch on="resource.complete"><span ng-switch-when="true">Oui</span><span ng-switch-when="false">Non</span></ng-switch></td>
                <td><ng-switch on="includedby">
                    <span ng-switch-when="resource" ui-sref="model.edit.resource.display({ resourceid:resource.id })" class="glyphicon glyphicon-eye-open" style="font-size: 120%"></span>
                    <span ng-switch-default ui-sref="resource.display({ resourceid:resource.id })" class="glyphicon glyphicon-eye-open" style="font-size: 120%"></span>
                </ng-switch></td>
                <td ><ng-switch on="includedby">
                    <span ng-switch-when="resource" ui-sref="model.edit.resource.edit({ resourceid:resource.id })" class="glyphicon glyphicon-edit"style="font-size: 120%"></span>
                    <span ng-switch-default ui-sref="resource.edit({ resourceid:resource.id })" class="glyphicon glyphicon-edit"style="font-size: 120%"></span>
                </ng-switch></td>
                <td><span ng-click="deleteResource(resource)" class="glyphicon glyphicon-remove"style="font-size: 120%"></span></td>
            </tr>

        </table>
    </div>

</div>