<div class="container">

    <div class="table-responsive">
        <table class="table table-striped">

            <tr>
                <th>Type</th>
                <th>Titre</th>
                <th>Auteur</th>
                <th>Propriétaire</th>
                <th>Partagé</th>
                <th>Archivé</th>
                <th>Brouillon</th>
                <th>Complet</th>
                <th>&nbsp;</th>
                <th><span ng-click="createResource()" class="glyphicon glyphicon-plus"
                          style="font-size: 120%"></span></th>
                <th>&nbsp;</th>
            </tr>

            <tr ng-repeat="resource in resources">
                <td><kbd class="label-info">{{ resource.type }}</kbd></td>
                <td>{{ resource.title }}</td>
                <td>{{ resource.author }}</td>
                <td>{{ resource.owner }}</td>
                <td><kbd ng-class="{'label-success': resource.public, 'label-danger': !resource.public}">&nbsp;&nbsp;&nbsp;</kbd></td>
                <td><kbd ng-class="{'label-success': resource.archived, 'label-danger': !resource.archived}">&nbsp;&nbsp;&nbsp;</kbd></td>
                <td><kbd ng-class="{'label-success': resource.draft, 'label-danger': !resource.draft}">&nbsp;&nbsp;&nbsp;</kbd></td>
                <td><kbd ng-class="{'label-success': resource.complete, 'label-danger': !resource.complete}">&nbsp;&nbsp;&nbsp;</kbd></td>
                <td><span ui-sref="resourceDisplay({ id:resource.id })" class="glyphicon glyphicon-eye-open"
                          style="font-size: 120%"></span></td>
                <td><span ui-sref="resourceEdit({ id:resource.id })" class="glyphicon glyphicon-edit"
                          style="font-size: 120%"></span></td>
                <td><span ng-click="deleteResource(resource)" class="glyphicon glyphicon-remove"
                          style="font-size: 120%"></span>
                </td>
            </tr>

        </table>
    </div>

</div>