{% if exercise.itemCount > 1 %}

    <table class="question-table">
        <tbody>
        <tr>

            {% for _cptItem in 1..exercise.itemCount %}
                {% if _cptItem == itemNumber %}

                    <td><b><span>{{ _cptItem }}</span></b></td>

                {% else %}
                    <td><a href="{{ path('simple_it_exercise_exercise_view',
                        {'exerciseId': exerciseId,
                        'itemNumber': _cptItem }) }}"
                                >
                            {{ _cptItem }}

                        </a></td>

                {% endif %}
            {% endfor %}
        </tr>
        </tbody>
    </table>

{% endif %}
