<div class="container">

    <div class="table-responsive">
        <table class="table table-striped">

            <tr>
                <th>Type</th>
                <th>Titre</th>
                <th>Auteur</th>
                <th>Propriétaire</th>
                <th>Partagé</th>
                <th>Archivé</th>
                <th>Brouillon</th>
                <th>Complet</th>
            </tr>

            <tr>
                <td><kbd class="label-info">{{ model.type }}</kbd></td>
                <td>{{ model.title }}</td>
                <td>{{ model.author }}</td>
                <td>{{ model.owner }}</td>
                <td><kbd ng-class="{'label-success': model.public, 'label-danger': !model.public}">&nbsp;&nbsp;&nbsp;</kbd></td>
                <td><kbd ng-class="{'label-success': model.archived, 'label-danger': !model.archived}">&nbsp;&nbsp;&nbsp;</kbd></td>
                <td><kbd ng-class="{'label-success': model.draft, 'label-danger': !model.draft}">&nbsp;&nbsp;&nbsp;</kbd></td>
                <td><kbd ng-class="{'label-success': model.complete, 'label-danger': !model.complete}">&nbsp;&nbsp;&nbsp;</kbd></td>
            </tr>

        </table>
    </div>

</div>