html {
    overflow-y: scroll;
}

body {
    padding-top: 48px;
    padding-bottom: 80px;
}

#TopNav {
    padding:10px;
}

#TopNav a {
    font-size:24pt;
    color:#ddd;
    text-decoration:none;
}

#TopNav a:hover {
    color:#fff;
}


#bottomNav {
    padding:10px;
}

#bottomNav a {
    font-size:24pt;
    color:#ddd;
    text-decoration:none;
}

#bottomNav a:hover {
    color:#fff;
}

option {
    text-align: center;
}

.scrollContainer {
    position: fixed;
    margin-top: 135px;
    overflow: auto;
    right:0;
    padding-left: 0;
    padding-right: 0
}

.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:1%;
    margin-left:1%;
}

.research {
    vertical-align:top;
    margin-right: 20px;
    margin-left: 20px;
}
