html {
    overflow-y: scroll;
}

body {
    padding-top: 48px;
    padding-bottom: 80px;
}

#TopNav {
    padding:10px;
}

#TopNav a {
    font-size:24pt;
    color:#ddd;
    text-decoration:none;
}

#TopNav a:hover {
    color:#fff;
}


#bottomNav {
    padding:10px;
}

#bottomNav a {
    font-size:24pt;
    color:#ddd;
    text-decoration:none;
}

#bottomNav a:hover {
    color:#fff;
}

option {
    text-align: center;
}

.scrollContainer {
    position: fixed;
    margin-top: 222px;
    overflow: auto;
}

.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:1%;
    margin-left:1%;
}

.etiquette {
    border:1px solid #428bca;
    border-radius:4px;
    box-shadow:0 2px 2px rgba(0,0,0,.05);
}

.txt-etiquette {
    min-height: 34px;
    padding: 6px;
    border:1px solid #428bca;
}

.img-etiquette {
    height: 100px;
    width: auto;
    padding: 0;
}

.etiquette-wrong {
    border:5px solid #e1000a;
}

.etiquette-right {
    border:5px solid #009d0a;
}

.etiquette-empty {
    border:1px dotted #948a91;
    min-width: 100px;
}
