<section class="centered">
    <div class="row">
        <h1 class="highlighted">Information</h1>
        <div class="dashboard-course">
            <div class="col12 description">
                {% render 'SimpleITClaireAppBundle:Course/Component/MetadataByCourse:editDescriptionView' with{'courseId': course.id}, {'standalone': true} %}
            </div>

            <hr/>

            {#<div class="{{ _user.showAds ? "col8" : "col12" }}">#}
            <div class="col12">
                <div class="row">
                    {#{% render 'SimpleITClaireAppBundle:AssociatedContent/Component/CategoryByCourse:editView' with{'courseId': course.id}, {'standalone': true} %}#}
                    {#{% render 'SimpleITClaireAppBundle:Course/Component/MetadataByCourse:editDisplayLevelView' with{'courseId': course.id}, {'standalone': true} %}#}

                    <div class="col12 space-bottom">
                        <div class="img-text-align tuto-title">
                            {#{% render 'SimpleITClaireAppBundle:Course/Component/MetadataByCourse:editImageView' with{'courseId': course.id}, {'standalone': true} %}#}
                            <div class="align-middle">
                                {% render 'SimpleITClaireAppBundle:Course/Component/Course:editView' with{'courseId': course.id}, {'standalone': true} %}
                            </div>
                        </div>
                    </div>

                    <div class="col4 space-bottom course-feature">
                        <div class="img-text-align">
                            <span class="align-middle background-icon-black float-img">
                                <i class="icon-level"></i>
                            </span>
                            <div class="align-middle float-block">
                                <p class="text-top-dashboard">Difficulté</p>
                                {% render 'SimpleITClaireAppBundle:Course/Component/MetadataByCourse:editDifficultyView' with{'courseId': course.id}, {'standalone': true} %}
                            </div>
                        </div>
                    </div>

                    <div class="col4 space-bottom course-feature">
                        <div class="img-text-align">
                            <span class="align-middle background-icon-black"><i class="icon-star"></i></span>
                            <div class="align-middle">
                                <p class="text-top-dashboard">Note</p>
                                <p itemprop="aggregateRating" class="star">
                                </p><div class="starClassment">

                                    <span class="oneStar"></span>
                                    <span class="oneStar"></span>
                                    <span class="oneStar"></span>
                                    <span class="oneStar"></span>
                                    <span class="noStar"></span>
                                </div>
                                <p></p>
                            </div>
                        </div>
                    </div>

                    <div class="col4 space-bottom course-feature">

                        <div class="img-text-align">
                            <span class="align-middle background-icon-black float-img">
                                <i class="icon-duration"></i>
                            </span>
                            <div class="align-middle float-block">
                                <p class="text-top-dashboard">Durée</p>
                                {% render 'SimpleITClaireAppBundle:Course/Component/MetadataByCourse:editTimeRequiredView' with{'courseId': course.id}, {'standalone': true} %}
                            </div>
                        </div>
                    </div>

                    <div class="col8 space-bottom">
                        {#{% render 'SimpleITClaireAppBundle:Course/Component/Course:viewTimeline' with{'courseIdentifier': course.id, 'displayLevel': course.displayLevel, 'categoryIdentifier': 'informatique'}, {'standalone': true} %}#}
                    </div>

                    <div class="col8">

                        <div class="img-text-align">
                            <span class="align-middle background-icon-black float-img">
                                <i class="icon-tag"></i>
                            </span>
                            <div class="align-middle float-block">
                                <p class="text-top-dashboard">Thématiques</p>
                                {% render 'SimpleITClaireAppBundle:AssociatedContent/Component/TagByCourse:listEditView' with{'courseId': course.id}, {'standalone': true} %}
                            </div>
                        </div>



                    </div>

                    <div class="col4">
                        <div class="update" itemprop="dateModified" title="Mis à jour">
                            Mis à jour le {{ course.updatedAt | localizeddate ('full', 'none') }}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {#{%  if (_user.showAds) %}
            <div class="col4">
                {% include "CommonBundle:Advertise/partial:advertise.html.twig" with {'num' : '1355149687749-3', 'class' : 'pavement'} %}
            </div>
        {% endif %}#}
    </div>

    <form action="{{ path('simple_it_claire_component_course_status_waiting_for_publication', { 'courseId': course.id, 'status': course.status}) }}" method="post">
        <input type="submit">
    </form>
    <form class="form js-confirm-draft js-no-disable" action="{{ path('simple_it_claire_component_course_status_published', { 'courseId': course.id, 'status': course.status}) }}" method="post">
        <button type="submit" class="oc-btn orange-btn">
            <i class="indicator icon-spinner icon-spin"></i> Publier
        </button>
    </form>

</section>
