<section class="centered">
    <div class="editor-container">
        <form id="claire_course_content_form" action="{{ path('simple_it_claire_component_course_content_edit', { 'courseIdentifier': courseId}) }}" method="post">
            <div id="editor-toolbar"></div>
            <textarea
                    class="tinymce editor" rows="40" cols="70"
                    id="contentEditor"
                    name="courseContent"
                    data-theme="claire"
                    >{{ courseContent }}</textarea>
            <!-- <input id="Comment_writingType" class="writingType" type="hidden" name="Comment[writingType]" value="editor"> -->
            <input type="submit" value="Enregistrer" data-saving-text="En cours...">
        </form>
    </div>
</section>
