{% import 'SimpleITClaireAppBundle:Common:macros.html.twig' as macro %}
<ul>
    {% for course in courses %}
        <li>
            <a href="{{ path('simple_it_claire_course_course_view', {'categoryIdentifier': course.category.slug,'courseIdentifier':course.slug}) }}">{{ course.title }}
                {% if course.tags > 0 %}
                    <ul>
                        {% for tag in course.tags %}
                            <li>{{ tag.name }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </a>
        </li>

    {% endfor %}
</ul>
{{ macro.pagination(courses, '') }}
