{% import 'SimpleITClaireAppBundle:Common:macros.html.twig' as macro %}
{{ courses.totalItemsNumber }}
<form action="">
    <input type="search">
    <input>
</form>
<ul>
    {% for course in courses %}
        <li>{{ course.title }}</li>
    {% endfor %}
</ul>
{{ macro.pagination(courses, '') }}
