{% trans_default_domain "course" %}
{{ 'course.choice' | transchoice(courses.totalItemsNumber) }}
<form action="" method="GET">
    <input type="search" name="title">
    <input type="submit">
    <select name="sort">
        <option value="title">Title</option>
        <option value="updatedAt">Date</option>
    </select>

</form>
{% include 'SimpleITClaireAppBundle:Course/Course/Component:list.html.twig' %}
