{% trans_default_domain "course" %}
<h3>
    <span class="icons courses-icon"></span>
    {{ 'course.choice' | transchoice(courses.totalItemsNumber) }}
</h3>
<form action="" method="GET" class="search-list-form">
    <input type="search" name="title">
    <input type="submit" value="">
    <select name="sort" class="light-grey_button course-filter">
        <option value="title">Trier par nom</option>
        <option value="updatedAt">Trier par date</option>
    </select>
</form>
{% include 'SimpleITClaireAppBundle:Course/Course/Component:list.html.twig' %}
