<div class="course-paginate">
    {% if previous is not null %}
        <a class="before" href="{{ previousUrl }}) }}">
            <span class="arrow-left"></span>
            <span class="next">{{ previous.title }}</span>
        </a>
    {% endif %}
    {% if next is not null %}
        <a class="after" href="{{ nextUrl }}">
            <span class="next">{{ next.title }}</span>
            <span class="arrow-right"></span>
        </a>
    {% endif %}
</div>


