<ul class="level-2">
    {% for course in courses %}
        <li class="col6">
            <a class="course-title course-title-2" href="{{ path('simple_it_claire_course_course_view', {'categoryIdentifier': course.category.slug,'courseIdentifier':course.id, 'status':'waiting-for-publication'}) }}">
                <div class="image">
                    {% if course.metadatas.image is not defined %}
                        <i class="icon-web"></i>
                    {% else %}
                        <img src="{{ course.metadatas.image }}" />
                    {% endif %}
                </div>
                <div class="courses-content">
                    <strong>{{ course.title }}</strong> <br/>
                    {% if course.tags > 0 %}
                        <span class="course-tags">
                            {% for tag in course.tags %}
                                {{ tag.name }}
                            {% endfor %}
                        </span>
                    {% endif %}
                </div>
            </a>
        </li>
    {% endfor %}
</ul>
