<h2>Ressources requises</h2>
{% if locked %}<div>Édition vérouillée</div>{% endif %}
<form action="{{ path('simple_it_claire_component_exercise_exercise_model_required_resource_edit',{ 'exerciseModelId': exerciseModel.id}) }}" method="post">

    <input type="button" onclick="addRequirement()" value="Ajouter"/>

    <table id="required">
        {% if exerciseModel.requiredExerciseResources |length > 0 %}
            {% for requirement in exerciseModel.requiredExerciseResources %}
                <tr>
                    <td>
                        Ressource requise :
                    </td>
                    <td>
                        <input type="text" size="4" name="requirement[]"
                               value="{{ requirement }}"/>
                    </td>
                    <td>
                        <button type="button" class="js-remove">-</button>
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td>
                    Ressource requise :
                </td>
                <td>
                    <input type="text" size="4" name="requirement[]"/>
                </td>
                <td>
                    <button type="button" class="js-remove">-</button>
                </td>
            </tr>
        {% endif %}
    </table>

    <input type="submit"/>
</form>

<script>
    function addRequirement() {
        var
                $table = $('#required'),
                $lines = $('tr', $table),
                $last = $lines.last(),
                $clone = $last.clone();

        // text
        $clone
                .find('input[type=text]')
                .val('');

        $clone.appendTo($table);
    }

    $(function () {
        $('table').on('click', '.js-remove', function (event) {
            $(event.target).closest('tr').remove();
        })
    })
</script>
