<h2>Edition de groupement d'objets</h2>

<form action="{{ path('simple_it_claire_component_exercise_exercise_model_content_edit',{ 'exerciseModelId': exerciseModel.id}) }}" method="post">
    <input type="hidden" name="model-type" value="group-items">

    <table>
        <tr>
            <td><label for="wording">Consigne :</label></td>
            <td>
                <input type="text" size="200" name="wording" id="wording" value="{{ exerciseModel.content.wording }}"/>
            </td>
        </tr>
        <tr>
            <td><label for="displayGroupNames">Afficher le nom des groupes :</label></td>
            <td>
                <select name="displayGroupNames" id="displayGroupNames">
                    <option value="show" {% if exerciseModel.content.displayGroupNames %}selected{% endif %}>montrer</option>
                    <option value="hide" {% if not exerciseModel.content.displayGroupNames %}selected{% endif %}>cacher</option>
                    <option value="ask" {% if not exerciseModel.content.displayGroupNames %}selected{% endif %}>demander</option>
                </select>
            </td>
        </tr>
    </table>

    {% include '@SimpleITClaireApp/Exercise/ExerciseModel/Component/include/documents.html.twig'
    with {'documents' : exerciseModel.content.documents} %}

    {% include '@SimpleITClaireApp/Exercise/ExerciseModel/Component/include/groupingCriteria.html.twig'
    with {'classifConstr' : exerciseModel.content.classifConstr, 'blockId' : 'root'} %}


    <table id="blocks" border="1">
        <tr>
            <td>
                <!--TODO-->
                <input type="button" value="Ajouter bloc"/>
            </td>
        </tr>
        {% set _cptBlock = 0 %}
        {% if exerciseModel.content.objectBlocks |length > 0 %}
            {% for block in exerciseModel.content.objectBlocks %}
                <tr>
                    <td>
                        <button type="button" class="js-remove-block">Supprimer bloc</button>
                    </td>
                    <td>
                        <table>
                            <tr>
                                <td><h3>Bloc n° {{ _cptBlock + 1 }}</h3></td>
                            </tr>
                            <tr>
                                <td>
                                    {% include '@SimpleITClaireApp/Exercise/ExerciseModel/Component/include/groupingCriteria.html.twig'
                                    with {'classifConstr' : block.classifConstr,
                                    'blockId' : _cptBlock} %}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h3>Ressources du bloc</h3>
                                </td>
                            </tr>
                            {% include '@SimpleITClaireApp/Exercise/ExerciseModel/Component/include/objectBlock.html.twig' with {
                            'objectName' : 'objets',
                            'resourcesName' : 'resources',
                            'blocksName' : 'blocks',
                            'keyName' : 'key',
                            'comparatorName' : 'comparator',
                            'valuesName' : 'values',
                            'excludedName' : 'excluded',
                            'typeName' : 'type',
                            '_cptBlock' : _cptBlock,
                            'block' : block,
                            'askType' : true
                            } %}
                        </table>
                    </td>
                </tr>
                {% set _cptBlock = _cptBlock + 1 %}
            {% endfor %}
        {% else %}
            <tr>
                <td>
                    <button type="button" class="js-remove-block">Supprimer bloc</button>
                </td>
                <td>
                    <table>
                        <tr>
                            <td><h3>Bloc n°1</h3></td>
                        </tr>
                        <tr>
                            <td>
                                <h3>Critères de groupement</h3>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                {% include '@SimpleITClaireApp/Exercise/ExerciseModel/Component/include/groupingCriteria.html.twig'
                                with {'classifConstr' : NULL,
                                'blockId' : 0} %}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h3>Ressources du bloc</h3>
                            </td>
                        </tr>
                        {% include '@SimpleITClaireApp/Exercise/ExerciseModel/Component/include/objectBlock.html.twig' with {
                        'objectName' : 'objets',
                        'resourcesName' : 'resources',
                        'blocksName' : 'blocks',
                        'keyName' : 'key',
                        'comparatorName' : 'comparator',
                        'valuesName' : 'values',
                        'excludedName' : 'excluded',
                        'typeName' : 'type',
                        '_cptBlock' : 0,
                        'block' : NULL,
                        'askType' : true
                        } %}
                    </table>
                </td>
            </tr>
        {% endif %}
    </table>

    <input type="submit"/>
</form>

<script>
    $(function () {
        $('table').on('click', '.js-remove-block', function (event) {
            $(event.target).closest('tr').remove();
        })
    });

    $(function () {
        $('.resourceList').on('click', '.js-add-resource', function (event) {
            var $table = $(event.target).closest('table'),
                    $lines = $('tr', $table),
                    $last = $lines.last(),
                    $clone = $last.clone();

            $clone
                    .find('input[type=text]')
                    .val('');

            $clone.appendTo($table);
        })
    });

    $(function () {
        $('.resourceList').on('click', '.js-remove-resource', function (event) {
            $(event.target).closest('tr').remove();
        })
    });


    $(function () {
        $('.constrBloc').on('click', '.js-add-value', function (event) {
            var $line = $(event.target).closest('tr'),
                    $tds = $('td', $line),
                    $last = $tds.last(),
                    $clone = $last.clone();

            $clone
                    .find('input[type=text]')
                    .val('');

            $clone.appendTo($line);
        })
    });

    $(function () {
        $('.constrBloc').on('click', '.js-remove-value', function (event) {
            $(event.target).closest('td').remove();
        })
    });

    $(function () {
        $('.constrBloc').on('click', '.js-add-constraint', function (event) {
            var $table = $(event.target).closest('table'),
                    $lines = $('tr', $table),
                    $last = $lines.last(),
                    $inputText = $last.find('input[type=text]'),
                    $clone = $last.clone(),
                    blockId = ($inputText.length > 0) ? ($inputText.attr('name').match(/\[([0-9]+)\]\[/))[1] : 0,
                    prevId = ($inputText.length > 0) ? ($inputText.attr('name').match(/\[([0-9]+)\]$/))[1] : 0;


            prevId = parseInt(prevId, 0);
            blockId = parseInt(blockId, 0);

            // key
            $clone
                    .find('input[class=key]')
                    .attr('name', 'key[' + blockId + '][' + (prevId + 1) + ']')
                    .val('');

            // comparator
            $clone
                    .find('select[class=comparator]')
                    .attr('name', 'comparator[' + blockId + '][' + (prevId + 1) + ']')
                    .val('');

            // values
            $clone
                    .find('input[class=values]')
                    .attr('name', 'values[' + blockId + '][' + (prevId + 1) + '][]')
                    .val('');

            $clone.appendTo($table);
        })
    });

    $(function () {
        $('.constrBloc').on('click', '.js-remove-constraint', function (event) {
            $(event.target).closest('tr').remove();
        })
    });


    $(function () {
        $('.constrBloc').on('click', '.js-add-classifConstraint', function (event) {
            var $table = $(event.target).closest('table'),
                    $lines = $('tr', $table),
                    $last = $lines.last(),
                    $inputText = $last.find('input[class=key]'),
                    $clone = $last.clone(),
                    blockId = ($inputText.length > 0) ? ($inputText.attr('name').match(/y\[(.+)\]\[[0-9]+\]\[[0-9]+\]/))[1] : 0,
                    groupId = ($inputText.length > 0) ? ($inputText.attr('name').match(/\]\[([0-9]+)\]\[/))[1] : 0,
                    prevId = ($inputText.length > 0) ? ($inputText.attr('name').match(/\[([0-9]+)\]$/))[1] : 0;


            prevId = parseInt(prevId, 0);

            // key
            $clone
                    .find('input[class=key]')
                    .attr('name', 'classifKey[' + blockId + '][' + groupId + '][' + (prevId + 1) + ']')
                    .val('');

            // comparator
            $clone
                    .find('select[class=comparator]')
                    .attr('name', 'classifComparator[' + blockId + '][' + groupId + '][' + (prevId + 1) + ']')
                    .val('');

            // values
            $clone
                    .find('input[class=values]')
                    .attr('name', 'classifValues[' + blockId + '][' + groupId + '][' + (prevId + 1) + '][]')
                    .val('');

            $clone.appendTo($table);
        })
    });

    $(function () {
        $('.grouping-criteria').on('click', '.js-add-group', function (event) {
            var $table = $(event.target).closest('table'),
                    $lines = $('.grouping-group', $table),
                    $last = $lines.last(),
                    $clone = $last.clone(true, true),
                    $inputText = $last.find('input[class=group-name]'),
                    blockId = ($inputText.length > 0) ? ($inputText.attr('name').match(/group\[(.+)\]\[[0-9]+\]/))[1] : 0,
                    groupId = ($inputText.length > 0) ? ($inputText.attr('name').match(/group\[.+\]\[([0-9]+)\]/))[1] : 0;


            groupId = parseInt(groupId, 0) + 1;

            // group name
            $clone
                    .find('input[class=group-name]')
                    .attr('name', 'group[' + blockId + '][' + groupId + ']')
                    .val('');

            // only one classif tr
            var $classifTrs = $('.classifTr', $clone),
                    $i,
                    $length = $classifTrs.length;
            for ($i = 1; $i < $length; $i++) {
                console.error($i);
                $classifTrs[$i].remove();
            }

            // key
            $clone
                    .find('input[class=key]')
                    .attr('name', 'classifKey[' + blockId + '][' + groupId + '][0]')
                    .val('');

            // comparator
            $clone
                    .find('select[class=comparator]')
                    .attr('name', 'classifComparator[' + blockId + '][' + groupId + '][0]')
                    .val('');

            // values
            $clone
                    .find('input[class=values]')
                    .attr('name', 'classifValues[' + blockId + '][' + groupId + '][0][]')
                    .val('');


            $clone.appendTo($table);
        })
    });

    $(function () {
        $('.grouping-criteria').on('click', '.js-remove-group', function (event) {
            $(event.target).closest('tr').remove();
        })
    });
</script>
