<h1>Réponse à un exercice dans un test</h1>

{% for attempt in attempts %}
    <p>
        {% if attempt.position == position %}
            {{ attempt.position + 1 }}
        {% else %}
            <a href="{{ path('web_attempt_by_test_attempt_view',
            {'testAttemptId':testAttemptId, 'position': attempt.position} ) }}">{{ attempt.position + 1 }}</a>
        {% endif %}
    </p>
{% endfor %}

{{ render(controller('SimpleITClaireExerciseBundle:Exercise/Component/Attempt:view',
{ 'attemptId': attempts[position].id })) }}


