<!-- Export des questions -->
<html><head>
    <title>Exporter au format JSON</title>

    <script language="javascript" type="text/javascript">
        //var modele;

        function Json_File( json_filename,exercise_list)
        {
            var CSV = [
                '"1","val1","val2","val3","val4"',
                '"2","val1","val2","val3","val4"',
                '"3","val1","val2","val3","val4"'
            ].join('\n');

            window.URL = window.webkitURL || window.URL;

            var contentType = 'text/csv';

            var csvFile = new Blob([CSV], {type: contentType});

            var a = document.createElement('a');
            a.download = 'my.csv';
            a.href = window.URL.createObjectURL(csvFile);
            a.textContent = 'Download CSV';
            //a.style.display = none;

            a.dataset.downloadurl = [contentType, a.download, a.href].join(':');

            document.body.appendChild(a);
            a.click();
            window.URL.revokeObjectURL(a);
            /*
            alert("Bouh !");
            var blob;
            var time_stamp;

            blob = new Blob( ["donnee"], {type: "text/csv"});
            time_stamp = new Date().getTime();
            //window.webkitURL.createObjectURL(blob);
            var url = window.URL.createObjectURL(blob);
            var JSON_FILE = document.createElement("a");
            document.body.appendChild( JSON_FILE);
            JSON_FILE.style = "display: none";
            JSON_FILE.href = url;
            JSON_FILE.download = "json_file"+time_stamp;
            url.click();

            window.URL.revokeObjectURL(url);
            */
            //JSON_FILE.setAttribute('href', 'data:text/plain;charset=utf-8,' + encodeURIComponent(exercise_list));
            //JSON_FILE.setAttribute('download', json_filename);
            //JSON_FILE.click();
        }


    </script>
    <style type="text/css">
        body{background:#fff;}
    </style>
</head>
<body>
<h2>Parametres</h2>

    Cette fenetre sert à l'exportation d'exercice QCM au format JSON
    <button onclick="Json_File('Json', 'json')">Download</button>
   <!-- <input type="button" value="download" onClick="Json_File( 'Json' , 'contenu');"><br />-->

</body>
</html>


        <!--
    <input type="button" value="Get data from main window" onClick="getData()"><br />
    <input type="button" value="Put data into main window" onClick="putData()"><br />
    <input type="button" value="Close Popup" onClick="window.close()"><br />
    <input type="button" value="Close Popup" onClick="window.close()"><br />

    <script language="Javascript" type="text/javascript">
        <!--
        function getData() {
            var data = window.opener.document.getElementById('main_window_data').value;
            document.frm.txt.value = data;
        }
        function putData() {
            var data = document.frm.txt.value;
            window.opener.document.getElementById('main_window_data').value = data;
        }
        </script>
                                -->