<div data-ng-controller="resourceController">
    <div class="row" data-ng-controller="resourceEditController">

        <div class="col-xs-12">
            <div class="panel-body">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-centered" ng-switch="resource.type">
                                <div ng-switch-when="text">
                                    <span class="glyphicon glyphicon-font" style="font-size: 920%"></span>
                                </div>
                                <div ng-switch-when="picture">
                                    <span class="glyphicon glyphicon-picture" style="font-size: 920%"></span>
                                </div>
                                <div ng-switch-when="multiple-choice-question">
                                    <span class="glyphicon glyphicon-check" style="font-size: 920%"></span>
                                </div>
                                <div ng-switch-when="open-ended-question">
                                    <span class="glyphicon glyphicon-question-sign" style="font-size: 920%"></span>
                                </div>
                                <div ng-switch-when="sequence">
                                    <span class="glyphicon glyphicon-random" style="font-size: 920%"></span>
                                </div>
                            </div>
                            <div class="col-xs-4 col-centered">
                                <h4>Titre</h4>
                                <input type="text" ng-model="resource.title" class="form-control"/>
                                <h4>Intitulé</h4>
                                <input type="text" ng-model="resource.content.wording" class="form-control"/>
                            </div>
                            <div class="col-centered">
                                <h4>Auteur</h4>
                                <input type="text" ng-model="resource.author" class="form-control" disabled>
                                <h4>Propriétaire</h4>
                                <input type="text" ng-model="resource.owner" class="form-control" disabled>
                            </div>
                            <div class="col-centered">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" ng-model="resource.public">
                                        <h4>Partagé</h4>
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" ng-model="resource.archived">
                                        <h4>Archivé</h4>
                                    </label>
                                </div>
                                <div>&nbsp;</div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" ng-model="resource.draft">
                                        <h4>Brouillon</h4>
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" ng-model="resource.complete">
                                        <h4>Complet</h4>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12">
            <div class="panel-body">

                <div ng-switch="resource.type">
                    <div ng-switch-when="text">

                        <div class="panel panel-success">
                            <div class="panel-heading">
                                <div>
                                    <div class="col-centered">
                                        <h4>Texte</h4>
                                    </div>
                                    <div class="col-centered"></div>
                                </div>
                                <div>
                                    <div class="col-centered">
                                        <input type="text" ng-model="resource.content.text" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div ng-switch-when="picture">
                        <div class="panel panel-success">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-11">
                                        <h4>Image</h4>
                                    </div>
                                    <div class="col-xs-1"></div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-5"><input type="text" ng-model="resource.content.source" class="form-control"></div>
                                </div>
                                <img ng-src="{{BASE_CONFIG.urls.images.uploads}}/{{resource.content.source}}"/>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h4>Mots-clés</h4>
                        <div class="row">
                            <div ng-repeat="keyword in resource.keywords track by $index">
                                <div class="col-xs-5">
                                    <input type="text" ng-model="keyword" class="form-control" disabled>
                                </div>
                                <div class="col-xs-1"><span data-ng-click="resourceRemoveField(resource.keywords, $index)"
                                                            class="glyphicon glyphicon-remove"></span></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-5"><input id="resourceAddKeyword" type="text" value=""
                                                         placeholder="nouveau mot-clé" class="form-control"></div>
                            <div class="col-xs-1"><span data-ng-click="resourceAddKeywordsField(resource.keywords)"
                                                        class="glyphicon glyphicon-plus"></span></div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h4>Méta-données</h4>
                        <div class="row">
                            <div ng-repeat="meta in resource.metadata track by $index">
                                <div class="col-xs-5">
                                    <input type="text" ng-model="meta.key" class="form-control" >
                                </div>
                                <div class="col-xs-6">
                                    <input type="text" ng-model="meta.value" class="form-control" >
                                </div>
                                <div class="col-xs-1"><span data-ng-click="resourceRemoveField(resource.metadata, $index)"
                                                            class="glyphicon glyphicon-remove"></span></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-5"><input id="resourceAddMetadataKey" type="text" value=""
                                                         placeholder="nouvelle clé" class="form-control"></div>
                            <div class="col-xs-6"><input id="resourceAddMetadataValue" type="text" value=""
                                                         placeholder="nouvelle valeur" class="form-control"></div>
                            <div class="col-xs-1"><span data-ng-click="resourceAddMetadataField(resource.metadata)"
                                                        class="glyphicon glyphicon-plus"></span></div>
                        </div>
                    </div>
                </div>

                <div class="navbar">
                    <button back-Button class="btn btn-success">Retour</button>
                    <button ng-click="updateResource()" class="btn btn-success">Sauvegarder</button>
                </div>

            </div>
        </div>

    </div>
</div>
