<div data-ng-controller="modelController">
<div class="panel-body" data-ng-controller="modelListController">

<accordion>
    <accordion-group class="panel panel-primary">
        <accordion-heading class="panel-heading" style="padding-bottom: 0">
            <div class="col-centered">
                <span class="glyphicon glyphicon-filter"></span>&nbsp;Filtrer mes modèles d'exercices&nbsp;<span class="caret"></span>
            </div>
        </accordion-heading>
        <div class="col-centered research">
            <div>
                <h5>Métadonnées</h5>

                <div class="row">
                    <div class="panel panel-primary"
                         title="Recherche sur des métédonnées : saisir le couple clé/valeur recherché, ou seulement la clé ou seulement la valeur">
                        <br>

                        <div ng-repeat="meta in filters.metadata track by $index">
                            <div class="col-xs-5">
                                <input type="text" ng-model="meta.key" class="form-control" disabled>
                            </div>
                            <div class="col-xs-6">
                                <input type="text" ng-model="meta.value" class="form-control" disabled>
                            </div>
                            <div class="col-xs-1"><span data-ng-click="modelRemoveField(filters.metadata, $index)"
                                                        class="glyphicon glyphicon-remove"
                                                        title="Supprimer ce filtre"></span>
                            </div>
                        </div>
                        <div class="">
                            <div class="col-xs-5">
                                <input id="modelAddMetadataKey" type="text" value=""
                                       placeholder="nouvelle clé" class="form-control"></div>
                            <div class="col-xs-6">
                                <input id="modelAddMetadataValue" type="text" value=""
                                       placeholder="nouvelle valeur" class="form-control"></div>
                            <div class="col-xs-1"><span data-ng-click="modelAddMetadataField(filters.metadata)"
                                                        class="glyphicon glyphicon-ok"
                                                        title="Ajouter ce filtre"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div>
                <div class="col-centered">
                    <h5>Filtrer par type</h5>

                    <div class="btn-group">
                        <button class="btn" ng-model="$parent.$parent.filters.type.pair_items" btn-checkbox-true="'pair-items'" btn-checkbox-false="''" btn-checkbox>
                            <span title="Exercice d'appariement" class="glyphicon glyphicon-random"></span>
                        </button>
                        <button class="btn" ng-model="$parent.$parent.filters.type.order_items" btn-checkbox-true="'order-items'" btn-checkbox-false="''" btn-checkbox>
                            <span title="Exercice d'ordonnancement" class="glyphicon glyphicon-sort"></span>
                        </button>
                        <button class="btn" ng-model="$parent.$parent.filters.type.group_items" btn-checkbox-true="'group-items'" btn-checkbox-false="''" btn-checkbox>
                            <span title="Exercice de groupement" class="glyphicon glyphicon-link"></span>
                        </button>
                        <button class="btn" ng-model="$parent.$parent.filters.type.multiple_choice" btn-checkbox-true="'multiple-choice'" btn-checkbox-false="''" btn-checkbox>
                            <span title="QCM" class="glyphicon glyphicon-check"></span>
                        </button>
                        <button class="btn" ng-model="$parent.$parent.filters.type.open_ended_question" btn-checkbox-true="'open-ended-question'" btn-checkbox-false="''" btn-checkbox>
                            <span title="Question à réponse courte ouverte" class="glyphicon glyphicon-question-sign"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-centered research">
            <div>
                <h5>Mots-clés</h5>

                <div class="row"
                     title="Recherche sur les mots-clés">
                    <div class="panel panel-primary" title="Recherche sur des mots-clés">
                        <br>

                        <div ng-repeat="keyword in filters.keywords track by $index">
                            <div class="col-xs-10">
                                <input type="text" ng-model="keyword" class="form-control" disabled>
                            </div>
                            <div class="col-xs-2"><span data-ng-click="modelRemoveField(filters.keywords, $index)"
                                                        class="glyphicon glyphicon-remove"
                                                        title="Supprimer ce filtre"></span>
                            </div>
                        </div>
                        <div class="col-xs-10"><input id="modelAddKeyword" type="text" value=""
                                                      placeholder="nouveau mot-clé" class="form-control">
                        </div>
                        <div class="col-xs-2"><span data-ng-click="modelAddKeywordsField(filters.keywords)"
                                                    class="glyphicon glyphicon-ok"
                                                    title="Ajouter ce filtre"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <h5>Recherche</h5>

                <div class="row">
                    <div class="panel panel-primary">
                        <br>

                        <div class="col-xs-10">
                            <input type="text" placeholder="rechercher" ng-model="$parent.$parent.filters.search"
                                   title="Rechercher dans le titre, les métadonnées et les mots-clés du modèle">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </accordion-group>

    <div class="btn-group pull-right" style="margin-left: 4px; margin-top: 4px">
        <label class="btn"
               ng-model="filters.public"
               data-ng-class="{'active': !filters.public, '': filters.public}"
               ng-click="filters.public = !filters.public">Privés</label>
        <label class="btn"
               ng-model="filters.public"
               data-ng-class="{'active': filters.public, '': !filters.public}"
               ng-click="filters.public = !filters.public">Publics</label>
        <label class="btn"
               data-ng-class="{'active': filters.archived, '': !filters.archived}"
               ng-model="filters.archived"
               ng-click="filters.archived = !filters.archived">Archivés</label>
    </div>

    <accordion-group class="panel panel-primary">
        <accordion-heading class="panel-heading">
            <div class="col-centered">
                <span class="glyphicon glyphicon-plus"></span>&nbsp;Créer un modèle d'exercices&nbsp;<span class="caret"></span>
            </div>
        </accordion-heading>
        <div class="list-group">
            <div><a href data-ng-click="createModel('pair-items')" class="list-group-item"><span title="Exercice d'appariement" class="glyphicon glyphicon-random"></span>&nbsp;Créer un modèle d'exercices d'appariement</a></div>
            <div><a href data-ng-click="createModel('order-items')" class="list-group-item"><span title="Exercice d'ordonnancement" class="glyphicon glyphicon-sort"></span>&nbsp;Créer un exercice d'ordonancement</a></div>
            <div><a href data-ng-click="createModel('group-items')" class="list-group-item"><span title="Exercice de groupement" class="glyphicon glyphicon-link"></span>&nbsp;Créer un exercice de groupement</a></div>
            <div><a href data-ng-click="createModel('multiple-choice')" class="list-group-item"><span title="QCM" class="glyphicon glyphicon-check"></span>&nbsp;Créer un questionaire à choix multiple</a></div>
            <div><a href data-ng-click="createModel('open-ended-question')" class="list-group-item"><span title="Question à réponse courte ouverte" class="glyphicon glyphicon-question-sign"></span>&nbsp;Créer un questionaire à réponse courte</a></div>
        </div>
    </accordion-group>
</accordion>

<accordion close-others="true">
    <!--
        The ng-repeat directive iterates on each item in a collection.
        This collection is dynamically updated by filters. It works basically like unix pipes :)
        Let's explains basically this directive value : << (1: model in models) | (2: filter:filters.search) | (3: myFilters:filters) >>
        Each step are (1,2,3,..) are sequentially processed. Step 1 outputs will be step 2 inputs, and so on.
            1.  Step 1 : The collection contains all models retrieved from the backend. The "models" object must be declared in the modelController scope first.
            2.  Step 2 keeps models that contains as a key or as value the string present in the object filters.search field.
                If this field is empty all models are given to step 3.
            3. Step 3 give the current collection to a custom filtering function.
    -->
    <accordion-group class="panel"
                     ng-repeat="model in models | filter:filters.search | myFilters:filters"
                     data-ng-class="{'panel-primary': model.parent == null, 'panel-model-subscribe': model.parent != null, 'archived': model.archived}">
        <accordion-heading class="panel-heading" style="padding-bottom: 0">
            <div class="row">
                <div class="col-xs-1" ng-switch="model.type">
                    <div ng-switch-when="multiple-choice">
                        <span title="QCM" class="glyphicon glyphicon-check" style="font-size: 320%"></span>
                    </div>
                    <div ng-switch-when="open-ended-question">
                        <span title="Question à réponse courte ouverte" class="glyphicon glyphicon-question-sign" style="font-size: 320%"></span>
                    </div>
                    <div ng-switch-when="pair-items">
                        <span title="Exercice d'appariement" class="glyphicon glyphicon-random" style="font-size: 320%"></span>
                    </div>
                    <div ng-switch-when="order-items">
                        <span title="Exercice d'ordonnancement" class="glyphicon glyphicon-sort" style="font-size: 320%"></span>
                    </div>
                    <div ng-switch-when="group-items">
                        <span title="Exercice de groupement" class="glyphicon glyphicon-link" style="font-size: 320%"></span>
                    </div>
                </div>

                <div class="col-xs-11">
                    <div class="col-centered">
                        {{ model.title }}&nbsp;<span class="caret"></span>
                    </div>
                    <div class="col-centered pull-right">
                        <h4>
                            <span ng-if="model.complete"
                                  ng-click="$event.stopPropagation();tryModel(model)"
                                  class="glyphicon glyphicon-repeat"
                                  title="Essayer de répondre à un exercice pour ce modèle"></span>
                            <span ng-if="!model.complete"
                                  class="glyphicon glyphicon-repeat"
                                  style="opacity: 0.3"
                                  ng-click="$event.stopPropagation()"
                                  title="Essayer de répondre à un exercice pour ce modèle (impossible car modèle non complet)"></span>
                            &nbsp;
                            <span
                                ng-if="model.owner != BASE_CONFIG.currentUserId || model.parent != null"
                                  ui-sref="modelEdit({ modelid:model.id })"
                                  class="glyphicon glyphicon-eye-open"
                                  title="Voir ce modèle (édition impossible)"></span>
                            <span
                                ng-if="model.owner == BASE_CONFIG.currentUserId && model.parent == null"
                                ui-sref="modelEdit({ modelid:model.id })"
                                class="glyphicon glyphicon-edit"
                                title="Editer ce modèle"></span>
                            <span
                                ng-if="model.owner == BASE_CONFIG.currentUserId"
                                ng-click="$event.stopPropagation();duplicateModel(model)"
                                class="glyphicon glyphicon-plus"
                                title="Dupliquer ce modèle : créer un nouveau modèle identique à celui-ci."></span>
                            <span
                                ng-if="model.owner !== BASE_CONFIG.currentUserId"
                                ng-click="$event.stopPropagation();importModel(model)"
                                class="glyphicon glyphicon-log-in"
                                title="Importer ce modèle : créer un nouveau modèle identique à celui-ci et dont vous êtes le propriétaire. Cette opération importe automatiquement les ressources publiques associées à ce modèle."></span>
                            <span
                                ng-if="model.owner !== BASE_CONFIG.currentUserId"
                                ng-click="$event.stopPropagation();subscribeModel(model)"
                                class="glyphicon glyphicon-share-alt"
                                title="S'abonner à ce modèle : il fait à présent partie de vos modèles privés mais vous faites confiance à l'auteur. Vous bénéficierez des modifications qu'il apportera au modèle. Vous ne pourrez pas le modifier de votre côté. Il s'agit d'un raccourci vers le modèle d'un autre utilisateur."></span>
                            &nbsp;
                            <span
                                ng-if="model.owner == BASE_CONFIG.currentUserId && model.archived"
                                  ng-click="$event.stopPropagation();restoreModel(model)"
                                  class="glyphicon glyphicon-open"
                                  title="Restaurer ce modèle"></span>
                            <span
                                ng-if="model.owner == BASE_CONFIG.currentUserId && !model.archived"
                                  ng-click="$event.stopPropagation();archiveModel(model)"
                                  class="glyphicon glyphicon-save"
                                  title="Archiver ce modèle"></span>
                            <span ng-if="model.owner == BASE_CONFIG.currentUserId && model.removable"
                                  ng-click="$event.stopPropagation();deleteModel(model)" class="glyphicon glyphicon-remove"
                                  title="Supprimer ce modèle"></span>
                            <span ng-if="model.owner == BASE_CONFIG.currentUserId && !model.removable"
                                  class="glyphicon glyphicon-remove"
                                  style="opacity: 0.3"
                                  ng-click="$event.stopPropagation()"
                                  title="Supprimer ce modèle (impossible car des exercices ont été générés avec ; il est donc utilisé)"></span>
                        </h4>
                    </div>
                    <div class="row" style="margin-left: 3px">
                        <div style="margin: 1% 1% 0;" class="modelMD">
                            <label class="panel panel-success" data-ng-repeat="meta in model.metadata track by $index" style="margin: 2px;"
                                   title="Métadonnée de ce modèle">
                                &nbsp;<span ui-draggable="true" drag="meta.key">{{ meta.key }}</span>:&nbsp;<span>{{ meta.value }}</span>&nbsp;
                            </label>
                            <label class="panel panel-success" data-ng-repeat="keyword in model.keywords track by $index" style="margin: 2px;"
                                   title="Mot-clé de ce modèle">
                                &nbsp;{{ keyword }}&nbsp;
                            </label>
                        </div>

                    </div>
                </div>
            </div>
        </accordion-heading>
        <div class="col-centered">
            <label>Auteur&nbsp;:&nbsp;</label>{{ users[model.author].user_name }}
        </div>
        <div class="col-centered">
            <label>Propriétaire&nbsp;:&nbsp;</label>{{ users[model.owner].user_name }}
        </div>
        <div class="col-centered">
            <label>Partagé&nbsp;:&nbsp;</label>
            <ng-switch on="model.public">
                <span ng-switch-when="true">Oui</span>
                <span ng-switch-when="false">Non</span>
            </ng-switch>
        </div>
        <div class="col-centered">
            <label>Complet&nbsp;:&nbsp;</label>
            <ng-switch on="model.complete">
                <span ng-switch-when="true">Oui</span>
                <span ng-switch-when="false">Non</span>
            </ng-switch>
        </div>
        <div class="col-centered" ng-switch="model.type">
            <div ng-switch-when="multiple-choice">
                <label>Type de modèle&nbsp;:&nbsp;</label>QCM
            </div>
            <div ng-switch-when="open-ended-question">
                <label>Type de modèle&nbsp;:&nbsp;</label>Question à réponse courte ouverte
            </div>
            <div ng-switch-when="pair-items">
                <label>Type de modèle&nbsp;:&nbsp;</label>Appariement
            </div>
            <div ng-switch-when="order-items">
                <label>Type de modèle&nbsp;:&nbsp;</label>Exercice d'ordonnancement
            </div>
            <div ng-switch-when="group-items">
                <label>Type de modèle&nbsp;:&nbsp;</label>Exercice de groupement
            </div>
        </div>
        <div class="col-centered">
            <label>Consigne du modèle d'exercice&nbsp;:&nbsp;</label>{{ model.content.wording }}
        </div>
    </accordion-group>
</accordion>

</div>
</div>
