<div data-ng-controller="resourceController">
<div class="row" data-ng-controller="resourceEditController">

<div class="col-xs-12">
    <div class="panel-body">
        <div class="panel panel-success">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-centered" ng-switch="resource.type">
                        <div ng-switch-when="text">
                            <span title="Texte" class="glyphicon glyphicon-font" style="font-size: 500%"></span>
                        </div>
                        <div ng-switch-when="picture">
                            <span class="glyphicon glyphicon-picture" style="font-size: 500%"></span>
                        </div>
                        <div ng-switch-when="multiple-choice-question">
                            <span title="Question de QCM" class="glyphicon glyphicon-check" style="font-size: 500%"></span>
                        </div>
                        <div ng-switch-when="open-ended-question">
                            <span title="Question à réponse courte ouverte" class="glyphicon glyphicon-question-sign" style="font-size: 500%"></span>
                        </div>
                        <div ng-switch-when="sequence">
                            <span title="Exercice d'appariement" class="glyphicon glyphicon-random" style="font-size: 500%"></span>
                        </div>
                    </div>
                    <div class="col-xs-6 col-centered">
                        <div class="col-xs-8">
                            <h4>Titre</h4>
                            <input type="text" ng-model="resource.title" class="form-control" ng-required/>
                        </div>
                        <!--<div class="col-xs-6">-->
                        <!--<h4>Auteur</h4>-->
                        <!--<input type="text" ng-model="users[resource.author].user_name" class="form-control" disabled>-->
                        <!--</div>-->
                        <div class="col-xs-4">
                            <h4>Propriétaire</h4>
                            <input type="text" ng-model="users[resource.owner].user_name"
                                   class="form-control" disabled>
                        </div>
                    </div>
                    <div class="col-xs-3 col-centered">
                        <div title="Cette ressource est-elle partagée avec les autres auteurs ?" data-ng-click="resource.public=!resource.public">
                            <div class="col-centered">
                                <!--DEMO<span class="glyphicon" ng-class="{'glyphicon-check': resource.public, 'glyphicon-unchecked': !resource.public}" data-ng-click="resource.public=!resource.public"></span>-->
                                <span class="glyphicon" ng-class="{'glyphicon-check': resource.public, 'glyphicon-unchecked': !resource.public}"></span>
                            </div>
                            <div class="col-centered">
                                <h4>Partagé</h4>
                            </div>
                        </div>
                        <!--DEMO<div>-->
                        <!--<div class="col-centered">-->
                        <!--<span class="glyphicon" ng-class="{'glyphicon-check': resource.archived, 'glyphicon-unchecked': !resource.archived}" data-ng-click="resource.archived=!resource.archived"></span>-->
                        <!--</div>-->
                        <!--<div class="col-centered">-->
                        <!--<h4>Archivé</h4>-->
                        <!--</div>-->
                        <!--</div>-->
                        <!--<div>-->
                        <!--<div class="col-centered">-->
                        <!--<span class="glyphicon" ng-class="{'glyphicon-check': resource.draft, 'glyphicon-unchecked': !resource.draft}" data-ng-click="resource.draft=!resource.draft"></span>-->
                        <!--</div>-->
                        <!--<div class="col-centered">-->
                        <!--<h4>Brouillon</h4>-->
                        <!--</div>-->
                        <!--</div>-->
                        <div title="Cette ressource est-elle valide, utilisable dans un exercice ?">
                            <div class="col-centered">
                                <span class="glyphicon" ng-class="{'glyphicon-check': resource.complete, 'glyphicon-unchecked': !resource.complete}"></span>
                            </div>
                            <div class="col-centered">
                                <h4>Complet</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-xs-12">
    <div class="panel-body">

        <div ng-switch="resource.type">
            <div ng-switch-when="text">

                <div class="panel panel-success">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-5">
                                <h4>Texte</h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <input type="text" ng-model="resource.content.text" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div ng-switch-when="picture">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-11">
                                <h4>Image</h4>
                            </div>
                            <div class="col-xs-1"></div>
                        </div>
                        <div class="row">
                            <div class="col-xs-5">
                                <input type="file" ng-file-select="onFileSelect($files)">
                            </div>
                        </div>
                        <a href="{{BASE_CONFIG.urls.images.uploads}}{{resource.content.source}}"
                           data-lightbox="res" data-title="La ressource">
                            <img ng-src="{{BASE_CONFIG.urls.images.uploads}}{{resource.content.source}}"
                                style="height: 100px; width: auto"/>
                        </a>
                    </div>
                </div>
            </div>

            <div ng-switch-when="multiple-choice-question">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-centered">
                                <h4>Nombre de propositions</h4>
                                <input type="number" ng-model="resource.content.max_number_of_propositions" class="form-control" style="height: 25px">
                            </div>
                            <div class="col-centered">
                                <h4>Nombre de propositions justes</h4>
                                <input type="number" ng-model="resource.content.max_number_of_right_propositions" class="form-control" style="height: 25px">
                            </div>
                            <div class="col-centered">
                            <h4>Mélanger les propositions</h4>
                            <span data-ng-click="resource.content.do_not_shuffle=!resource.content.do_not_shuffle">
                                <span class="glyphicon" ng-class="{'glyphicon-check': resource.content.do_not_shuffle, 'glyphicon-unchecked': !resource.content.do_not_shuffle}"></span>
                                Ne pas mélanger les propositions
                            </span>                                                        &nbsp;&nbsp;
                            <span data-ng-click="resource.content.do_not_shuffle=!resource.content.do_not_shuffle">
                                <span class="glyphicon" ng-class="{'glyphicon-unchecked': resource.content.do_not_shuffle, 'glyphicon-check': !resource.content.do_not_shuffle}"></span>
                                Mélanger les propositions
                            </span>
                            </div>
                            <div class="col-xs-12">
                                <h4>Indice de correction</h4>
                                <input type="text" ng-model="resource.content.comment" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-success" is-open="true">
                    <div class="panel-heading">
                        <h4>Question de QCM</h4>
                        <input type="text" ng-model="resource.content.question" class="form-control">
                    </div>
                    <div style="margin-left:1%; margin-right: 1%">
                        <h4>Propositions</h4>
                        <div class="panel panel-success row" data-ng-repeat="proposition in resource.content.propositions track by $index">
                            <div class="col-xs-5">
                                <label>Intitulé de la proposition</label>
                                <input type="text" ng-model="proposition.text" class="form-control">
                            </div>
                            <div class="col-xs-3 text-center" data-ng-click="proposition.right=!proposition.right">
                                <span class="glyphicon" ng-class="{'glyphicon-check': proposition.right, 'glyphicon-unchecked': !proposition.right}"></span>
                                <label>Proposition correcte</label>
                            </div>
                            <div class="col-xs-3 text-center" data-ng-click="proposition.force_use=!proposition.force_use">
                                <span class="glyphicon" ng-class="{'glyphicon-check': proposition.force_use, 'glyphicon-unchecked': !proposition.force_use}"></span>
                                <label>Forcer l'utilisation</label>
                            </div>
                            <div class="col-xs-1">
                                <span class="glyphicon glyphicon-remove" data-ng-click="removeFromCollection(resource.content.propositions, $index)"></span>
                            </div>
                        </div>
                        <div data-ng-click="addProposition(resource.content.propositions)">
                            <div>
                                <span class="glyphicon glyphicon-plus" title="Ajouter une proposition"></span>&nbsp;&nbsp;
                                <strong>Ajouter une proposition</strong>
                            </div>
                            <br>
                        </div>
                    </div>
                </div>
            </div>

            <div ng-switch-when="open-ended-question">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-12">
                                <h4>Question à réponse courte</h4>
                                <input type="text" ng-model="resource.content.question" class="form-control">
                            </div>
                            <div class="col-xs-12">
                                <h4>Commentaire</h4>
                                <input type="text" ng-model="resource.content.comment" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div style="margin-left:1%; margin-right: 1%">
                        <h4>Solutions</h4>
                        <div class="row">
                            <div class="col-xs-12" data-ng-repeat="solution in resource.content.solutions track by $index">
                                <div class="col-xs-10">
                                    <input type="text" ng-model="solution" class="form-control" disabled>
                                </div>
                                <div class="col-xs-2">
                                    <span class="glyphicon glyphicon-remove" data-ng-click="removeFromCollection(resource.content.solutions, $index)"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="col-xs-10">
                                    <input type="text" id="resourceAddSolution" class="form-control">
                                </div>
                                <div class="col-xs-2">
                                    <span class="glyphicon glyphicon-ok" title="Ajouter une solution" data-ng-click="addSolution(resource.content.solutions)"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="panel panel-success">
            <div class="panel-heading">
                <h4>Mots-clés</h4>

                <div class="row">
                    <div ng-repeat="keyword in resource.keywords track by $index">
                        <div class="col-xs-5">
                            <input type="text" ng-model="keyword" class="form-control" disabled>
                        </div>
                        <div class="col-xs-1"><span data-ng-click="resourceRemoveField(resource.keywords, $index)"
                                                    class="glyphicon glyphicon-remove"
                                                    title="Supprimer ce couple de métadonnées"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-5">
                        <input id="resourceAddKeyword" type="text" value=""
                               placeholder="nouveau mot-clé" class="form-control"></div>
                    <div class="col-xs-1"><span data-ng-click="resourceAddKeywordsField(resource.keywords)"
                                                class="glyphicon glyphicon-ok"
                                                title="Ajouter ce mot-clé"></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-success">
            <div class="panel-heading">
                <h4>Métadonnées</h4>

                <div class="row">
                    <div ng-repeat="meta in resource.metadata track by $index">
                        <div class="col-xs-5">
                            <input type="text" ng-model="meta.key" class="form-control">
                        </div>
                        <div class="col-xs-6">
                            <input type="text" ng-model="meta.value" class="form-control">
                        </div>
                        <div class="col-xs-1">
                            <span data-ng-click="resourceRemoveField(resource.metadata, $index)"
                                  class="glyphicon glyphicon-remove"
                                  title="Supprimer ce couple de métadonnées"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-5">
                        <input id="resourceAddMetadataKey" type="text" value=""
                               placeholder="nouvelle clé" class="form-control"></div>
                    <div class="col-xs-6">
                        <input id="resourceAddMetadataValue" type="text" value=""
                               placeholder="nouvelle valeur" class="form-control"></div>
                    <div class="col-xs-1"><span data-ng-click="resourceAddMetadataField(resource.metadata)"
                                                class="glyphicon glyphicon-ok"
                                                title="Ajouter ce couple de métadonnées"></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="navbar">
            <button back-Button class="btn btn-success"
                    title="Retour à l'écran précédent. Toute modification non sauvegardée sera perdue.">
                Retour
            </button>
            <button ng-if="resource.owner == BASE_CONFIG.currentUserId"
                    ng-click="updateResource()" class="btn btn-success"
                    title="Sauvegarder les modifications. Ne peut pas être annulé.">
                Sauvegarder
            </button>
            <button ng-if="resource.owner == BASE_CONFIG.currentUserId"
                    ng-click="deleteResource(resource)" back-Button
                    class="btn btn-danger pull-right"
                    title="Supprimer cette ressource. Possible uniquement si cette ressource n'est pas utilisée par ailleurs.">Supprimer
            </button>
        </div>

    </div>
</div>

</div>
</div>
