<accordion>
    <accordion-group class="panel panel-primary" is-open="true">
        <accordion-heading class="panel-heading">
            <div class="row">
                <div class="col-xs-12">
                    Options&nbsp;<span class="caret"></span>
                </div>
            </div>
        </accordion-heading>
        <div>
            <span data-ng-click="model.content.give_first=!model.content.give_first">
                <span class="glyphicon" ng-class="{'glyphicon-check': model.content.give_first, 'glyphicon-unchecked': !model.content.give_first}"></span>
                Donner le premier
            </span> &nbsp;&nbsp;
            <span data-ng-click="model.content.give_last=!model.content.give_last">
                <span class="glyphicon" ng-class="{'glyphicon-check': model.content.give_last, 'glyphicon-unchecked': !model.content.give_last}"></span>
                Donner le dernier
            </span>
        </div>
        &nbsp;
        <div data-ng-click="model.content.show_values=!model.content.show_values">
            <span class="glyphicon" ng-class="{'glyphicon-check': model.content.show_values, 'glyphicon-unchecked': !model.content.show_values}"></span>
            Montrer les valeurs à la correction
        </div>
        &nbsp;

        <div>
            Ordre
            <div class="btn-group">
                <label class="btn btn-info" ng-model="model.content.order"
                       btn-radio="'asc'">
                    Croissant
                </label>
                <label class="btn btn-info" ng-model="model.content.order" btn-radio="'desc'">
                    Décroissant
                </label>
            </div>
        </div>
    </accordion-group>
</accordion>

<accordion>
    <accordion-group class="panel panel-primary" name="accordionBlock"
                     data-ng-repeat="block in model.content.object_blocks track by $index"
                     ng-init="openFirst('accordionBlock', $index); metadata_constraints = block.resource_constraint.metadata_constraints; blockTypes = ['picture', 'text']"
                     is-open="openFirstBlocks.accordionBlock[$index]">
        <accordion-heading class="panel-heading">

            <div class="row"
                 title="Un bloc désigne un ensemble de ressources dont une partie sera tirée aléatoirement lors de la génération d'exercices">
                <div class="col-xs-11">
                    Bloc de ressources&nbsp;<span class="caret"></span>
                </div>
                <div class="col-xs-1">
            <span data-ng-click="$event.stopPropagation();modelRemoveField(model.content.object_blocks, $index)"
                  class="glyphicon glyphicon-remove"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6"
                     title="La clé de métadonnée utilisée pour trier les ressources">
                    <h5>Clé de métadonnée</h5>
                    <input ng-click="$event.stopPropagation();"
                           type="text" ng-model="block.meta_key"
                           class="form-control" ui-on-Drop="onDropMetadataKey($event,$data,block,'meta_key')"/>
                </div>
                <div class="col-xs-6"
                     title="Le nombre de ressources à utiliser parmi celles de ce bloc pour constituer la liste des objets à trier dans l'exercice">
                    <h5>Nombre de ressources</h5>
                    <input type="number" ng-click="$event.stopPropagation();"
                           ng-model="block.number_of_occurrences" class="form-control" style="height: 25px">
                </div>
            </div>
        </accordion-heading>
        <div ng-include src="BASE_CONFIG.urls.partials.teacher+'/fragment-resources-in-block.html'"></div>
    </accordion-group>

    <div class="panel panel-primary">
        <div class="panel-heading" data-ng-click="modelAddBlockField(model.content.object_blocks)">
            <div class="row">
                <div class="col-xs-1">
                    <span class="glyphicon glyphicon-plus"></span>
                </div>
                <div class="col-xs-10"></div>
                <div class="col-xs-1"></div>
            </div>
        </div>
    </div>

</accordion>
