<div data-ng-controller="resourceController">
    <div class="panel-body" data-ng-controller="resourceListController">

        <accordion>
            <accordion-group class="panel panel-success">
                <accordion-heading class="panel-heading">
                    <div class="col-centered">
                            <span class="glyphicon glyphicon-filter"></span>&nbsp;Filtrer mes ressources&nbsp;<span class="caret"></span>
                    </div>
                </accordion-heading>
                <div class="col-centered">
                    <h4>Recherche</h4>
                    <input type="text" placeholder="rechercher" ng-model="$parent.$parent.filters.search">
                    <h4>Filtrer par types</h4>

                    <div class="btn-group">
                        <button class="btn btn-success" ng-model="$parent.$parent.filters.type.text" btn-checkbox-true="'text'" btn-checkbox-false="''" btn-checkbox>
                            <span class="glyphicon glyphicon-font"></span>
                        </button>
                        <button class="btn btn-success" ng-model="$parent.$parent.filters.type.multiple_choice_question" btn-checkbox-true="'multiple-choice-question'" btn-checkbox-false="''" btn-checkbox>
                            <span class="glyphicon glyphicon-check"></span>
                        </button>
                        <button class="btn btn-success" ng-model="$parent.$parent.filters.type.picture" btn-checkbox-true="'picture'" btn-checkbox-false="''" btn-checkbox>
                            <span class="glyphicon glyphicon-picture"></span>
                        </button>
                        <button class="btn btn-success" ng-model="$parent.$parent.filters.type.open_ended_question" btn-checkbox-true="'open-ended-question'" btn-checkbox-false="''" btn-checkbox>
                            <span class="glyphicon glyphicon-question-sign"></span>
                        </button>
                        <button class="btn btn-success" ng-model="$parent.$parent.filters.type.sequence" btn-checkbox-true="'sequence'" btn-checkbox-false="''" btn-checkbox>
                            <span class="glyphicon glyphicon-sort-by-order"></span>
                        </button>
                    </div>
                    <h4>Filtrer par état</h4>

                    <div class="btn-group">
                        <button class="btn btn-success" ng-model="$parent.$parent.filters.archived" btn-checkbox-true="'true'" btn-checkbox-false="'false'" btn-checkbox>
                            <span class="glyphicon glyphicon-folder-close"></span>
                        </button>
                    </div>
                </div>
                <div class="col-centered">&nbsp;&nbsp;</div>
                <div class="col-centered">
                    <h4>Mots-clés</h4>

                    <div class="row">
                        <div class="panel panel-success">
                            <br>

                            <div ng-repeat="keyword in filters.keywords track by $index">
                                <div class="col-xs-10">
                                    <input type="text" ng-model="keyword" class="form-control" disabled>
                                </div>
                                <div class="col-xs-2"><span data-ng-click="resourceRemoveField(filters.keywords, $index)"
                                                            class="glyphicon glyphicon-remove"></span>
                                </div>
                            </div>
                            <div class="col-xs-10">
                                <input id="resourceAddKeyword" type="text" value=""
                                       placeholder="nouveau mot-clé" class="form-control"></div>
                            <div class="col-xs-2"><span data-ng-click="resourceAddKeywordsField(filters.keywords)"
                                                        class="glyphicon glyphicon-plus"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-centered">&nbsp;&nbsp;</div>
                <div class="col-centered">
                    <h4>Méta-données</h4>

                    <div class="row">
                        <div class="panel panel-success">
                            <br>

                            <div ng-repeat="meta in filters.metadata track by $index">
                                <div class="col-xs-5">
                                    <input type="text" ng-model="meta.key" class="form-control" disabled>
                                </div>
                                <div class="col-xs-6">
                                    <input type="text" ng-model="meta.value" class="form-control" disabled>
                                </div>
                                <div class="col-xs-1"><span data-ng-click="resourceRemoveField(filters.metadata, $index)"
                                                            class="glyphicon glyphicon-remove"></span>
                                </div>
                            </div>
                            <div class="">
                                <div class="col-xs-5">
                                    <input id="resourceAddMetadataKey" type="text" value=""
                                           placeholder="nouvelle clé" class="form-control"></div>
                                <div class="col-xs-6">
                                    <input id="resourceAddMetadataValue" type="text" value=""
                                           placeholder="nouvelle valeur" class="form-control"></div>
                                <div class="col-xs-1"><span data-ng-click="resourceAddMetadataField(filters.metadata)"
                                                            class="glyphicon glyphicon-plus"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-centered">&nbsp;&nbsp;</div>
            </accordion-group>
            <accordion-group class="panel panel-success">
                <accordion-heading class="panel-heading">
                    <div class="col-centered">
                        <span class="glyphicon glyphicon-plus"></span>&nbsp;Créer une ressource&nbsp;<span class="caret"></span>
                    </div>
                </accordion-heading>
                <div class="list-group">
                    <div>
                        <a data-ng-click="createResource('picture')" href class="list-group-item"><span class="glyphicon glyphicon-picture"></span>&nbsp;Créer une image</a>
                    </div>
                    <div>
                        <a data-ng-click="createResource('text')" href class="list-group-item"><span class="glyphicon glyphicon-font"></span>&nbsp;Créer un texte</a>
                    </div>
                    <!--<div><a href class="list-group-item"><span class="glyphicon glyphicon-check"></span>&nbsp;Créer une question à choix multiple</a></div>
                    <div><a href class="list-group-item"><span class="glyphicon glyphicon-question-sign"></span>&nbsp;Créer une question à réponse courte</a></div>
                    <div><a href class="list-group-item"><span class="glyphicon glyphicon-sort-by-order"></span>&nbsp;Créer une séquence</a></div>-->
                </div>
            </accordion-group>
        </accordion>

        <accordion close-others="true">
            <accordion-group class="panel panel-success" ng-repeat="resource in resources | filter:filters.search | myFilters:filters">
                <accordion-heading class="panel-heading" style="padding-bottom: 0">
                    <div class="row" ui-draggable="true" drag="resource">
                        <div class="col-xs-1" ng-switch="resource.type">
                            <div ng-switch-when="text">
                                <span class="glyphicon glyphicon-font" style="font-size: 320%"></span>
                            </div>
                            <div ng-switch-when="picture">
                                <img ng-src="{{BASE_CONFIG.urls.images.uploads}}/{{resource.content.source}}" style="width: 55px; height: 55px;"/>
                            </div>
                            <div ng-switch-when="multiple-choice-question">
                                <span class="glyphicon glyphicon-check" style="font-size: 320%"></span>
                            </div>
                            <div ng-switch-when="open-ended-question">
                                <span class="glyphicon glyphicon-question-sign" style="font-size: 320%"></span>
                            </div>
                            <div ng-switch-when="sequence">
                                <span class="glyphicon glyphicon-sort-by-order" style="font-size: 320%"></span>
                            </div>
                        </div>

                        <div class="col-xs-11">
                            <div class="col-centered">
                                {{ resource.title }}&nbsp;<span class="caret"></span>
                            </div>
                            <div class="col-centered pull-right">
                                <h4>
                                    <ng-switch on="parentSection">
                                        <span ng-switch-when="model" ui-sref="modelEdit.resourceEdit({ resourceid:resource.id })" class="glyphicon glyphicon-edit"></span>
                                        <span ng-switch-default ui-sref="resourceEdit({ resourceid:resource.id })" class="glyphicon glyphicon-edit"></span>
                                    </ng-switch>
                                    &nbsp;&nbsp;
                                    <span ng-click="$event.stopPropagation();deleteResource(resource)" class="glyphicon glyphicon-remove"></span>
                                </h4>
                            </div>
                            <div class="row" style="margin-left: 3px">
                                <div style="margin: 1% 1% 0;">
                                    <label class="panel panel-success" data-ng-repeat="meta in resource.metadata track by $index" style="margin: 2px;">
                                        &nbsp;<span ui-draggable="true" drag="meta.key">{{ meta.key }}</span>:&nbsp;<span>{{ meta.value }}</span>&nbsp;
                                    </label>
                                    <label class="panel panel-success" data-ng-repeat="keyword in resource.keywords track by $index" style="margin: 2px;">
                                        &nbsp;{{ keyword }}&nbsp;
                                    </label>
                                </div>

                            </div>
                        </div>
                    </div>
                </accordion-heading>
                <div class="col-centered">
                    <small>Auteur: {{ users[resource.author] }}</small>
                    <br>
                    <small>Propriétaire: {{ users[resource.owner] }}</small>
                </div>
                <div class="col-centered">
                    <small>Partagé:&nbsp;
                        <ng-switch on="resource.public">
                            <span ng-switch-when="true">Oui</span>
                            <span ng-switch-when="false">Non</span>
                        </ng-switch>
                    </small>
                    <br>
                    <small>Archivé:&nbsp;
                        <ng-switch on="resource.archived">
                            <span ng-switch-when="true">Oui</span>
                            <span ng-switch-when="false">Non</span>
                        </ng-switch>
                    </small>
                </div>
                <div class="col-centered">
                    <small>Brouillon:&nbsp;
                        <ng-switch on="resource.draft">
                            <span ng-switch-when="true">Oui</span>
                            <span ng-switch-when="false">Non</span>
                        </ng-switch>
                    </small>
                    <br>
                    <small>Complet:&nbsp;
                        <ng-switch on="resource.complete">
                            <span ng-switch-when="true">Oui</span>
                            <span ng-switch-when="false">Non</span>
                        </ng-switch>
                    </small>
                </div>
            </accordion-group>
        </accordion>

    </div>
</div>
