<div data-ng-controller="modelController">
    <div class="panel-body" data-ng-controller="modelListController">

        <accordion>
            <accordion-group class="panel panel-primary">
                <accordion-heading class="panel-heading">
                    <div class="col-centered">
                        <h4><span class="glyphicon glyphicon-filter"></span>&nbsp;Filtrer mes modèles d'exercices&nbsp;<span class="caret"></span></h4>
                    </div>
                </accordion-heading>
                    <div class="col-centered">
                        <h4>Recherche</h4>
                        <input type="text" placeholder="rechercher" ng-model="$parent.$parent.filters.search">
                        <h4>Filtrer par types</h4>
                        <div class="btn-group">
                            <button class="btn btn-primary" ng-model="$parent.$parent.filters.type.multiple_choice" btn-checkbox-true="'multiple-choice'" btn-checkbox-false="''" btn-checkbox>
                                <span class="glyphicon glyphicon-check"></span>
                            </button>
                            <button class="btn btn-primary" ng-model="$parent.$parent.filters.type.pair_items" btn-checkbox-true="'pair-items'" btn-checkbox-false="''" btn-checkbox>
                                <span class="glyphicon glyphicon-random"></span>
                            </button>
                            <button class="btn btn-primary" ng-model="$parent.$parent.filters.type.order_items" btn-checkbox-true="'order-items'" btn-checkbox-false="''" btn-checkbox>
                                <span class="glyphicon glyphicon-sort"></span>
                            </button>
                            <button class="btn btn-primary" ng-model="$parent.$parent.filters.type.open_ended_question" btn-checkbox-true="'open-ended-question'" btn-checkbox-false="''" btn-checkbox>
                                <span class="glyphicon glyphicon-question-sign"></span>
                            </button>
                            <button class="btn btn-primary" ng-model="$parent.$parent.filters.type.group_items" btn-checkbox-true="'group-items'" btn-checkbox-false="''" btn-checkbox>
                                <span class="glyphicon glyphicon-link"></span>
                            </button>
                        </div>
                        <h4>Filtrer par état</h4>
                        <div class="btn-group">
                            <button class="btn btn-primary" ng-model="$parent.$parent.filters.archived" btn-checkbox-true="'true'" btn-checkbox-false="'false'" btn-checkbox>
                                <span class="glyphicon glyphicon-folder-close"></span>
                            </button>
                        </div>
                    </div>
                    <div class="col-centered">&nbsp;&nbsp;</div>
                    <div class="col-centered">
                        <h4>Mots-clés</h4>
                        <div class="row">
                            <div class="panel panel-primary">
                                <br>
                                <div ng-repeat="keyword in filters.keywords track by $index">
                                    <div class="col-xs-10">
                                        <input type="text" ng-model="keyword" class="form-control" disabled>
                                    </div>
                                    <div class="col-xs-2"><span data-ng-click="modelRemoveField(filters.keywords, $index)"
                                                                class="glyphicon glyphicon-remove"></span></div>
                                </div>
                                <div class="col-xs-10"><input id="modelAddKeyword" type="text" value=""
                                                             placeholder="nouveau mot-clé" class="form-control"></div>
                                <div class="col-xs-2"><span data-ng-click="modelAddKeywordsField(filters.keywords)"
                                                            class="glyphicon glyphicon-plus"></span></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-centered">&nbsp;&nbsp;</div>
                    <div class="col-centered">
                        <h4>Méta-données</h4>
                        <div class="row">
                            <div class="panel panel-primary">
                                <br>
                                <div ng-repeat="meta in filters.metadata track by $index">
                                    <div class="col-xs-5">
                                        <input type="text" ng-model="meta.key" class="form-control" disabled>
                                    </div>
                                    <div class="col-xs-6">
                                        <input type="text" ng-model="meta.value" class="form-control" disabled>
                                    </div>
                                    <div class="col-xs-1"><span data-ng-click="modelRemoveField(filters.metadata, $index)"
                                                                class="glyphicon glyphicon-remove"></span></div>
                                </div>
                                <div class="">
                                    <div class="col-xs-5"><input id="modelAddMetadataKey" type="text" value=""
                                                                 placeholder="nouvelle clé" class="form-control"></div>
                                    <div class="col-xs-6"><input id="modelAddMetadataValue" type="text" value=""
                                                                 placeholder="nouvelle valeur" class="form-control"></div>
                                    <div class="col-xs-1"><span data-ng-click="modelAddMetadataField(filters.metadata)"
                                                                class="glyphicon glyphicon-plus"></span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                <div class="col-centered">&nbsp;&nbsp;</div>
            </accordion-group>
            <accordion-group class="panel panel-primary">
                <accordion-heading class="panel-heading">
                    <div class="col-centered">
                        <h4><span class="glyphicon glyphicon-plus"></span>&nbsp;Créer un modèle d'exercice&nbsp;<span class="caret"></span></h4>
                    </div>
                </accordion-heading>
                <div class="list-group">
                    <div><a href class="list-group-item" data-ng-click="createModel('pair-items')"><span class="glyphicon glyphicon-random"></span>&nbsp;Créer un exercice d'appariement</a></div>
                    <!--<div><a href class="list-group-item"><span class="glyphicon glyphicon-sort"></span>&nbsp;Créer un exercice d'ordonancement</a></div>
                    <div><a href class="list-group-item"><span class="glyphicon glyphicon-link"></span>&nbsp;Créer un exercice de groupement</a></div>
                    <div><a href class="list-group-item"><span class="glyphicon glyphicon-check"></span>&nbsp;Créer un questionaire à choix multiple</a></div>
                    <div><a href class="list-group-item"><span class="glyphicon glyphicon-question-sign"></span>&nbsp;Créer un questionaire à réponse courte</a></div>-->
                </div>
            </accordion-group>
        </accordion>

        <accordion close-others="true">
            <accordion-group class="panel panel-primary" ng-repeat="model in models | filter:filters.search | myFilters:filters">
                <accordion-heading class="panel-heading">
                    <div ui-draggable="true" drag="model">
                        <div class="col-centered" ng-switch="model.type">
                            <div ng-switch-when="multiple-choice">
                                <span class="glyphicon glyphicon-check" style="font-size: 260%"></span>
                            </div>
                            <div ng-switch-when="open-ended-question">
                                <span class="glyphicon glyphicon-question-sign" style="font-size: 260%"></span>
                            </div>
                            <div ng-switch-when="pair-items">
                                <span class="glyphicon glyphicon-random" style="font-size: 260%"></span>
                            </div>
                            <div ng-switch-when="order-items">
                                <span class="glyphicon glyphicon-sort" style="font-size: 260%"></span>
                            </div>
                            <div ng-switch-when="group-items">
                                <span class="glyphicon glyphicon-link" style="font-size: 260%"></span>
                            </div>
                        </div>
                        <div class="col-centered">
                            <h4>{{ model.title }}&nbsp;<span class="caret"></span></h4>
                        </div>
                        <div class="col-centered pull-right">
                            <h4>
                                <span ui-sref="modelEdit({ modelid:model.id })" class="glyphicon glyphicon-edit"></span>
                                <span ng-click="deleteModel(model)" class="glyphicon glyphicon-remove"></span>
                            </h4>
                        </div>
                    </div>
                    <div class="row">
                        <div style="margin: 1%;">
                            <label class="panel panel-success" data-ng-repeat="meta in model.metadata track by $index" style="margin: 2px;">
                                &nbsp;<span ui-draggable="true" drag="meta.key">{{ meta.key }}</span>:&nbsp;<span>{{ meta.value }}</span>&nbsp;
                            </label>
                            <label class="panel panel-success" data-ng-repeat="keyword in model.keywords track by $index" style="margin: 2px;">
                                &nbsp;{{ keyword }}&nbsp;
                            </label>
                        </div>

                    </div>
                </accordion-heading>
                <div class="col-centered">
                    <small>Auteur: {{ users[model.author] }}</small><br>
                    <small>Propriétaire: {{ users[model.owner] }}</small>
                </div>
                <div class="col-centered">
                    <small>Partagé:&nbsp;
                        <ng-switch on="model.public">
                            <span ng-switch-when="true">Oui</span>
                            <span ng-switch-when="false">Non</span>
                        </ng-switch>
                    </small><br>
                    <small>Archivé:&nbsp;
                        <ng-switch on="model.archived">
                            <span ng-switch-when="true">Oui</span>
                            <span ng-switch-when="false">Non</span>
                        </ng-switch>
                    </small>
                </div>
                <div class="col-centered">
                    <small>Brouillon:&nbsp;
                        <ng-switch on="model.draft">
                            <span ng-switch-when="true">Oui</span>
                            <span ng-switch-when="false">Non</span>
                        </ng-switch>
                    </small><br>
                    <small>Complet:&nbsp;
                        <ng-switch on="model.complete">
                            <span ng-switch-when="true">Oui</span>
                            <span ng-switch-when="false">Non</span>
                        </ng-switch>
                    </small>
                </div>
            </accordion-group>
        </accordion>

    </div>
</div>
