{% if difficulty is not empty %}
    <li class="difficulty">
        <span class="icon"></span>
        <div>
            <strong>Difficulté</strong>
            <p itemprop="difficulty">{{ difficulty }}</p>
        </div>
    </li>
{% endif %}