{% trans_default_domain "course" %}
{% if timeRequired is not null %}
    <li class="duration">
        <span class="icon"></span>

        <div>
            <strong>{{ 'course.duration' | trans }}</strong>

            <p itemprop="duration"> {{ timeRequired | dateInterval }}</p>
        </div>
    </li>
{% endif %}
