<div class="grade">
    <span class="icon"></span>
    <div>
        <strong>Note</strong>
        <div class="starClassment">
            <span class="oneStar"></span>
            <span class="oneStar"></span>
            <span class="oneStar"></span>
            <span class="oneStar"></span>
            <span class="noStar"></span>
        </div>
    </div>
</div>

{#{{ rate }}#}