<h1>Navigateur de ressources</h1>
<p>
    <a href="{{ path('web_resource_create_view') }}">
        Créer une nouvelle ressource
    </a>
</p>

{{ render(controller('SimpleITClaireExerciseBundle:Exercise/Component/OwnerResource:createMultipleMetadataView')) }}
{{ render(controller('SimpleITClaireExerciseBundle:Exercise/Component/OwnerResource:createMultipleKeyMetadataView')) }}
{{ render(controller('SimpleITClaireExerciseBundle:Exercise/Component/OwnerResource:searchList',{'collectionInformation': collectionInformation})) }}


