{% if category.name == 'Informatique' %}
    <div class="circle">
        <span class="circle-content"></span>
        <i class="icon-desktop"></i>

        <div class="ribbon">
            <div class="ribbon-stitches-top"></div>
            <strong class="ribbon-content">
                <h1>{{ category.name }}</h1>
            </strong>

            <div class="ribbon-stitches-bottom"></div>
        </div>
    </div>

{% elseif category.name == 'Sciences' %}
    <div class="circle">
        <span class="circle-content"></span>
        <i class="icon-beaker"></i>

        <div class="ribbon">
            <div class="ribbon-stitches-top"></div>
            <strong class="ribbon-content">
                <h1>{{ category.name }}</h1>
            </strong>

            <div class="ribbon-stitches-bottom"></div>
        </div>
    </div>
{% endif %}

<div class="category-definition">
    <p>
        {% autoescape false %}
        {{ category.description }}
        {% endautoescape %}
    </p>
</div>

