{% if itemIds|length > 1 %}

    <table class="pagination">
        <tbody>
        <tr>
            {% set _cptItem = 1 %}
            {% for paginationItemId in itemIds %}
                {% if paginationItemId == itemId %}

                    <td><b><span>{{ _cptItem }}</span></b></td>
                    {% set _currentItemNumber = _cptItem %}

                {% else %}
                    <td><a href="{{ path('simple_it_claire_component_exercise_item_by_attempt_view',
                        {'attemptId': attemptId,
                        'itemId': paginationItemId }) }}">
                            {{ _cptItem }}
                        </a></td>
                {% endif %}
                {% set _cptItem = _cptItem + 1 %}
            {% endfor %}
        </tr>
        </tbody>
    </table>

{% endif %}
