<ul class="level-2">
    {% for course in courses %}
        <li class="col6">
            <a class="course-title course-title-2" href="{{ path('simple_it_claire_course_course_view', {'courseIdentifier': course.slug, 'categoryIdentifier': course.category.slug }) }}">
                <div class="image">
                    {% if course.metadatas.image is not defined %}
                        <i class="icon-web"></i>
                    {% else %}
                        <img src="{{ course.metadatas.image }}" />
                    {% endif %}
                </div>
                <div class="courses-content">
                    <strong>{{ course.title }}</strong> <br/>
                    <span>{{ course.category.name }}</span>
                </div>
            </a>
        </li>
    {% endfor %}
</ul>
