html {
    overflow-y: scroll;
}

body {
    padding-top: 80px;
    padding-bottom: 80px;
}

#title {
    font-size:18pt;
    color:#ddd;
}

#TopNav {
    padding:10px;
}

#TopNav a {
    font-size:24pt;
    color:#ddd;
    text-decoration:none;
}

#TopNav a:hover {
    color:#fff;
}


#bottomNav {
    padding:10px;
}

#bottomNav a {
    font-size:24pt;
    color:#ddd;
    text-decoration:none;
}

#bottomNav a:hover {
    color:#fff;
}

option {
    text-align: center;
}