<form id="claire-part-tag" action="{{ path('simple_it_claire_component_part_tag_list_edit', { 'courseIdentifier': courseIdentifier, 'partIdentifier': partIdentifier}) }}" method="post">
    <input type="text" value="{{ tags }}">
</form>
