<div class="row toc-big">
{% for course in courses %}
    <ul class="level-2">
        <li class="col6">
            <a class="course-title course-title-2" href="{{ path('simple_it_claire_course_course_view', { 'categoryIdentifier' : course.category.slug, 'courseIdentifier': course.slug}) }}">
                <div class="image">
                    {% if course.metadatas.image is not defined %}
                        <i class="icon-web"></i>
                        <span class="star"></span>
                    {% else %}
                        <img src="{{ course.metadatas.image }}"/>
                        <span class="star"></span>
                    {% endif %}
                </div>
                <div class="courses-content">
                    <span>{{ course.title }}</span>
                </div>
            </a>
        </li>
    </ul>
{% endfor %}
</div>
