<!DOCTYPE html>
<html>
<head>
    <link href="//code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" rel="stylesheet">
    <script src="//code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="//code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>

    <script type="text/javascript" src="{{ asset('bundles/simpleitclaireapp/js/Exercise/widgets/items-list.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/simpleitclaireapp/js/Exercise/widgets/resourceItems.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/simpleitclaireapp/js/Exercise/main.js') }}"></script>



    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">

    <style>
        input, div {
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }

        div, a {
            font-size: 14px;
        }

        td table {
            width: 100%;
        }

        .hidden {
            position: absolute;
            left: -99999px;
        }

        .half {
            width: 50%;
            padding: 6px;
        }

        input[type=text] {
            max-width: 100%;
        }

        .block {
            border: 1px solid #ddd;
            padding: 5px;
            margin-bottom: 10px;
        }

        #resource-browser {
            position: fixed;
            right: 0;
            top: 0;
            bottom: 0;
            overflow: auto;
        }

        .claire-exercise-resource-item {
            border: 1px solid #ddd;
            padding: 5px;
            background: #eee;
        }

        .simple-list {
            margin: 0;
            padding: 0;
            list-style-type: none;
        }

        div.claire-exercise-items-list.ui-droppable {
            padding: 10px;
        }

        div.claire-exercise-items-list.drop-over {
            border: 3px solid green;
            padding: 7px;
        }
    </style>
</head>
<body>
{% block content %}
{% endblock content %}
</body>

</html>
