<div class="star-classment">
    {% if maxStar is not defined %}
        {% set maxStar = 5 %}
    {% endif %}

    {% for i in 1..maxStar %}
        {% if note >= i %}
            <i class="icon-star"></i>
        {% elseif note - i >= - 0.5 %}
            <i class="icon-star-half"></i>
        {% else %}
            <i class="icon-star-empty"></i>
        {% endif %}
    {% endfor %}
</div>
