<!DOCTYPE html>
<html>
<head>
    <link  href="//code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" rel="stylesheet">
    <script src="//code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="//code.jquery.com/ui/1.10.3/jquery-ui.js"></script>

</head>
<body>
    {% block content %}
    {% endblock content %}
</body>
</html>
