{% extends '::base.html.twig' %}

{% block body %}
    <h1>Liste des cours</h1>

    {% if courses|length > 0 %}
        <ul>
            {% for course in courses %}
                <li>
                    <a href="{{ path('SimpleIT_Claire_course_view', {'slug': course.slug }) }}"
                    title="{{ course.title }}">
                        {{ course.title }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    <hr>

    <p><a href="{{ path('SimpleIT_Claire_course_create') }}">Create a new course</a></p>
{% endblock %}
