{% extends '::base.html.twig' %}

{% block body %}
    <h1>Liste des cours</h1>

    {% if courses.branches is defined %}
        <ul>
            {% for branch in courses.branches %}
                <li>
                    <a href="{{ path('course_view', {'slug': branch.reference.slug }) }}"
                    title="{{ branch.rootElement.title }}"
                    >
                        {{ branch.rootElement.title }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    <hr>

    <p><a href="{{ path('course_create') }}">Create a new course</a></p>
{% endblock %}
