{% extends '::base.html.twig' %}

{% block body %}
    <h1>Liste des cours</h1>

    {% if courses.elements is defined %}
        <ul>
            {% for course in courses.elements %}
                <li>
                    <a href="{{ path('course_view', {'slug': course.reference.slug }) }}"
                    title="{{ course.title }}"
                    >
                        {{ course.title }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    <hr>

    <p><a href="{{ path('course_create') }}">Create a new course</a></p>
{% endblock %}
