{% extends "SimpleITClaireExerciseBundle:Exercise:layout.html.twig" %}

{% block content %}
    <h1>Navigateur de modèles d'exercices</h1>

    <p>
        <a href="{{ path('web_exercise_model_create_view') }}">
            Créer un nouveau modèle d'exercice
        </a>
    </p>

    {{ render(controller('SimpleITClaireExerciseBundle:Exercise/Component/OwnerExerciseModel:searchList')) }}
{% endblock content %}

