<h1>{{ part.title }}</h1>
<form id="claire_part_content_form" action="{{ path('simple_it_claire_module_part_edit', { 'courseIdentifier': courseIdentifier, 'partIdentifier': partIdentifier}) }}" method="post">
    <input type="text">{{ part.title }}
</form>

