<form id="claire_part_content_form" action="{{ path('simple_it_claire_module_part_edit', { 'courseIdentifier': courseIdentifier, 'partIdentifier': partIdentifier}) }}" method="post">
    <input type="text">{{ part }}
</form>
<h1>{{ part }}</h1>
