
{% if

metadata.key == 'CreativeWork/aggregateRating' or
metadata.key == 'CreativeWork/difficulty' or
metadata.key == 'CreativeWork/duration'

%}
{{ 'claire.metadatas.'~metadata.slug}}
    <p>{{ 'claire.metadatas.'~metadata.slug|trans([], 'SimpleITClaireAppBundle') }}</p>
    <p>{{ metadata.value }}</p>
{% endif %}