<h2>Outil d'ajout multiple de métadonnées</h2>

<form action="{{ path('web_multiple_owner_resource_metadata_edit') }}" method="post">
    <input type="button" onclick="addMORMMD()" value="Ajouter"/>
    <table id="metadataListMORM">
        <tr>
            <td>
                Clé :
            </td>
            <td>
                <input type="text" size="20" name="metaKey[0]"/>
            </td>
            <td>
                Valeur :
            </td>
            <td>
                <input type="search" size="30" name="metaValue[0]"/>
            </td>
            <td>
                <button type="button" class="js-remove">-</button>
            </td>
        </tr>
    </table>

    <input type="button" onclick="addMORMKW()" value="Ajouter"/>
    <table id="keywordsMORM">
        <tr>
            <td>
                Mot-clé :
            </td>
            <td>
                <input type="text" size="20" name="keyword[]"/>
            </td>
            <td>
                <button type="button" class="js-remove">-</button>
            </td>
        </tr>
    </table>

    <input type="button" onclick="addMORMResourceId()" value="Ajouter"/>

    <table id="ownerResourceListMORM">
        <tr><th>Id de ressource</th></tr>
        <tr>
            <td>
                <input type="text" size="20" name="resourceIds[]"/>
            </td>
            <td>
                <button type="button" class="js-remove">-</button>
            </td>
        </tr>
    </table>

    <input type="submit"/>
</form>

<script>
    function addMORMMD() {
        var $table = $('#metadataListMORM'),
                $lines = $('tr', $table),
                $last = $lines.last(),
                $inputText = $last.find('input[type=text]'),
                $clone = $last.clone(),
                prevId = ($inputText.length > 0) ? ($inputText.attr('name').match(/\[([0-9]+)\]/))[1] : 0;


        prevId = parseInt(prevId, 0);

        // key
        $clone
                .find('input[type=text]')
                .attr('name', 'metaKey[' + (prevId + 1) + ']')
                .val('');

        // value
        $clone
                .find('input[type=search]')
                .attr('name', 'metaValue[' + (prevId + 1) + ']')
                .val('');

        $clone.appendTo($table);
    }

    function addMORMKW() {
        var $table = $('#keywordsMORM'),
                $lines = $('tr', $table),
                $last = $lines.last(),
                $clone = $last.clone();

        // key
        $clone
                .find('input[type=text]')
                .attr('name', 'keyword[]')
                .val('');

        $clone.appendTo($table);
    }

    function addMORMResourceId() {
        var
                $table = $('#ownerResourceListMORM'),
                $lines = $('tr', $table),
                $last = $lines.last(),
                $clone = $last.clone();

        $clone
                .find('input[type=text]')
                .attr('name', 'resourceIds[]')
                .val('');

        $clone.appendTo($table);
    }

    $(function () {
        $('table').on('click', '.js-remove', function (event) {
            $(event.target).closest('tr').remove();
        })
    })
</script>
