<section class="container">
    <p><a href="{{ path('SimpleIT_Claire_exercise_index',
        {'user': user }) }}"
                >
            Abandonner et retourner à l'index
        </a></p>

    <p>Bonjour {{ user }}</p>

    <h1>Groupement</h1>

    <p>{{ exercise.wording }}</p>

    {% block question %}{% endblock %}

</section>
