{% extends 'SimpleITClaireAppBundle:Exercise/Exercise:container.html.twig' %}
{% block content %}
    <h1>Appariement</h1>

    <p>{{ exercise.wording }}</p>

    {% block question %}{% endblock %}
{% endblock %}
